In [ ]:
#从数据库提取数据完毕，开始数据清洗
#更新的数据处理细节和月份划分方式

In [2]:
import pandas as pd
import numpy as np
import os
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import BayesianRidge  # 使用贝叶斯岭回归
print(os.getcwd())
datapath='../data_d2'

C:\Users\shijuan_125623147720\Desktop\ruijin\Deliver_v1

In [2]:
df_v_small=pd.read_csv(os.path.join(datapath, 'visitinfo_small.csv'))
df_v_big=pd.read_csv(os.path.join(datapath, 'visitinfo_big.csv'))
df_d_small=pd.read_csv(os.path.join(datapath, 'user_drug_small.csv'))
df_d_big=pd.read_csv(os.path.join(datapath, 'user_drug_big.csv'))
df_small_id=pd.read_csv(os.path.join(datapath, 'small_user_id.csv'))
print('user_id:',df_v_big['user_id'].nunique(),df_v_big[df_v_big['age']>=18]['user_id'].nunique())
df1_merged = pd.concat([df_v_small,df_v_big], axis=0)
print('user_id:',df1_merged['user_id'].nunique(),df1_merged[df1_merged['age']>=18]['user_id'].nunique())

C:\Users\shijuan_125623147720\AppData\Local\Temp\1\ipykernel_5788\2709067826.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_v_big=pd.read_csv(os.path.join(datapath, 'visitinfo_big.csv'))

user_id: 202654 202188
user_id: 291245 290779

In [3]:
df_v_small_1 = df_v_small[df_v_small['user_id'].isin(df_small_id['user_id'])]
print('user_id:',df_v_small_1['user_id'].nunique(),df_v_small_1[df_v_small_1['age']>=18]['user_id'].nunique())
print('user_id:',df_small_id['user_id'].nunique())
df_v_big_1 = df_v_big[df_v_big['user_id'].isin(df_d_big['user_id'])]
print('user_id:',df_v_big_1['user_id'].nunique(),df_v_big_1[df_v_big_1['age']>=18]['user_id'].nunique())
df1_merged = pd.concat([df_v_small_1,df_v_big_1], axis=0)
print(df_v_small_1.shape,df_v_big_1.shape)
print('user_id:',df1_merged['user_id'].nunique(),df1_merged[df1_merged['age']>=18]['user_id'].nunique())
print(df1_merged['hosp_id'].nunique())

user_id: 68529 68529
user_id: 72652
user_id: 179820 179562
(152217, 18) (602969, 18)
user_id: 248349 248091
360

In [21]:
df1_merged = pd.concat([df_v_small_1,df_v_big_1], axis=0)

df1_merged.drop_duplicates(keep='first', inplace=True)
df1_merged.to_csv(os.path.join(datapath, 'df1_merged.csv'), index=False)
print(df1_merged.info())

<class 'pandas.core.frame.DataFrame'>
Index: 755186 entries, 0 to 662425
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   user_id            755186 non-null  int64
 1   visit_level        755186 non-null  int64
 2   visit_at           755186 non-null  object
 3   hosp_id            755186 non-null  float64
 4   age                755186 non-null  int64
 5   diabetic_duration  741138 non-null  float64
 6   sbp                597948 non-null  float64
 7   dbp                597888 non-null  float64
 8   bmi_v1             598083 non-null  float64
 9   vat                339916 non-null  float64
 10  ALT                695545 non-null  float64
 11  LDL_c              688489 non-null  float64
 12  Cr                 694199 non-null  float64
 13  UACR               533737 non-null  object
 14  eGFR_EPI           694183 non-null  float64
 15  FPG                701265 non-null  float64
 16  CP0                469076 non-null  float64
 17  HbA1c              755186 non-null  float64
dtypes: float64(13), int64(3), object(2)
memory usage: 109.5+ MB
None

In [5]:
#补充了sex和eGFR
df_v_small_statistics=pd.read_csv(os.path.join(datapath, 'visitinfo_small_statistics.csv'))
df_v_big_statistics=pd.read_csv(os.path.join(datapath, 'visitinfo_big_statistics.csv'))
df_v_small_1_statistics = df_v_small_statistics[df_v_small_statistics['user_id'].isin(df_small_id['user_id'])]
df_v_big_1_statistics = df_v_big_statistics[df_v_big_statistics['user_id'].isin(df_d_big['user_id'])]
df1_merged_statistics = pd.concat([df_v_small_1_statistics,df_v_big_1_statistics], axis=0)
df1_merged_statistics.drop_duplicates(keep='first', inplace=True)
df1_merged_statistics.to_csv(os.path.join(datapath, 'df1_merged_statistics.csv'), index=False)
print(df1_merged_statistics.info())

C:\Users\shijuan_125623147720\AppData\Local\Temp\1\ipykernel_6056\2899457715.py:3: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df_v_big_statistics=pd.read_csv(os.path.join(datapath, 'visitinfo_big_statistics.csv'))

<class 'pandas.core.frame.DataFrame'>
Index: 797044 entries, 0 to 662425
Data columns (total 19 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   user_id            797044 non-null  int64
 1   visit_level        797044 non-null  int64
 2   visit_at           797044 non-null  object
 3   hosp_id            797044 non-null  int64
 4   age                797044 non-null  int64
 5   sex                797023 non-null  float64
 6   diabetic_duration  780172 non-null  float64
 7   sbp                619653 non-null  float64
 8   dbp                619580 non-null  float64
 9   bmi_v1             619888 non-null  float64
 10  vat                349771 non-null  float64
 11  ALT                731821 non-null  float64
 12  LDL_c              724073 non-null  float64
 13  Cr                 730760 non-null  float64
 14  UACR               559180 non-null  object
 15  eGFR_EPI           730740 non-null  float64
 16  FPG                738492 non-null  float64
 17  CP0                487066 non-null  float64
 18  HbA1c              797044 non-null  float64
dtypes: float64(13), int64(4), object(2)
memory usage: 121.6+ MB
None

In [22]:
df2_merged= pd.concat([df_d_small,df_d_big], axis=0)
df2_merged.drop_duplicates(keep='first', inplace=True)
df2_merged.to_csv(os.path.join(datapath, 'df2_merged.csv'), index=False)
print(df2_merged.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1924701 entries, 0 to 1448288
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   user_id        int64
 1   drug_type      int64
 2   drug_no        float64
 3   type_no_class  float64
 4   start_date     object
 5   end_date       object
 6   adjust_date    object
 7   flag_drug      float64
dtypes: float64(3), int64(2), object(3)
memory usage: 132.2+ MB
None

In [23]:
df1_merged=pd.read_csv(os.path.join(datapath, 'df1_merged.csv'))
df2_merged=pd.read_csv(os.path.join(datapath, 'df2_merged.csv'))

In [4]:
df1_merged['visit_level'].value_counts()

visit_level
1     243609
4     108008
6      86207
10     51812
8      51163
3      49904
12     31666
14     28823
5      25782
7      17300
16     16859
18     15986
9      14853
11     10247
20      8619
13      8608
22      6497
15      5720
17      4549
19      3143
24      2345
21      2083
23      1029
26       903
25       555
2        367
28       190
27       140
29        42
30        35
Name: count, dtype: int64

In [5]:
df2_merged['flag_drug'].value_counts()

flag_drug
0.0    828289
1.0      2782
Name: count, dtype: int64

In [6]:
def drug_type(df2):
    df2['start_date'] = pd.to_datetime(df2['start_date'], errors='coerce')
    # df2_1  = df2[df2['flag_drug'] != 1]
    df2_1=df2.copy()
    # 将 'type_no_class' 列转换为数值型
    df2_1.loc[:, 'type_no_class'] = pd.to_numeric(df2_1['type_no_class'], errors='coerce')

    # 将 'type_no_class' 列中的空值转换为0
    df2_1.loc[:, 'type_no_class'] = df2_1['type_no_class'].fillna(1).astype('Int64')
    # 对特定值应用映射
    # df2_1.loc[df2_1['type_no_class'].between(9, 18), 'type_no_class'] = -10
    #如果drug_no为68001或51001，将type_no_class列中的值替换为-10
    df2_1.loc[df2_1['drug_no'].isin([68001, 51001]), 'type_no_class'] = -10
    #TODO：药物编号51001中有关键字“胰岛素”，药物编号51001中有关键字“优思灵/林”、“万秀林”均属于胰岛素，只要使用了任意一种就视为使用胰岛素
    df2_1.loc[:, 'type_no_class'] = df2_1['type_no_class'].replace({6: -1, 8: -2, 2: 0})

    df2_2 = df2_1[df2_1['type_no_class'].isin([-1, -2, 0, 9,10,11,12,13,14,15,16,17,18,-10])]
    # df2_2.drop(['general name', 'drug_no', 'type_category','flag_drug'], axis=1, inplace=True)
    df2_2 = df2_2.drop([ 'drug_no', 'flag_drug'], axis=1)

    df2_2.loc[:, 'type_no_class'] = df2_2['type_no_class'].replace({-1: 1, -2: 2, -10: 19})
    return df2_2
def adjust_drug_type(df):
    '''
    删除所有drug_type=2的行
    将所有drug_type=4的行的drug_type改为1
    对于所有drug_type=1的行，如果存在另一行满足user_id、start_date、type_no_class相同且drug_type=3，则删除这个drug_type=1的行
    '''
    df = df[df['drug_type'] != 2]
    df.loc[df['drug_type'] == 4, 'drug_type'] = 1
     # 初始化一个空的索引列表用于记录需要删除的行
    rows_to_remove = []

    # 遍历数据帧，检查每一对相邻的行
    for i in range(len(df) - 1):
        current_row = df.iloc[i]
        next_row = df.iloc[i + 1]

        # 如果当前行和下一行的user_id, start_date, type_no_class相同
        # 并且当前行是drug_type=1，下一行是drug_type=3，那么删除当前行
        if (current_row['user_id'] == next_row['user_id'] and
            current_row['start_date'] == next_row['start_date'] and
            current_row['type_no_class'] == next_row['type_no_class'] and
            current_row['drug_type'] == 1 and next_row['drug_type'] == 3):
            rows_to_remove.append(i)

    # 删除需要删除的行
    df = df.drop(df.index[rows_to_remove])

    return df

In [7]:
df2_1 = drug_type(df2_merged)
df2_1.sort_values(by=['user_id',  'type_no_class','start_date','drug_type'], inplace=True)
df2_2=adjust_drug_type(df2_1)
df2_2.head()

     user_id  drug_type  type_no_class start_date    end_date adjust_date
146    10238          1            0.0 2008-01-01         NaN         NaN
620    10238          1            1.0 2020-01-10         NaN         NaN
157    10238          3            2.0 2020-01-10  2020-05-17         NaN
0      10238          1            2.0 2020-05-17         NaN         NaN
152    10238          3            9.0 2019-05-30  2020-01-10         NaN

In [14]:
def merge_period(df):
    '''
    合并服药时间:
    遍历所有行，如果下一行和当前行的user_id、type_no_class相同，且下一行的start_date等于当前行的end_date，则将下一行的start_date改为当前行的start_date，并删除当前行
    '''
    df=df.copy()
    df['start_date'] = pd.to_datetime(df['start_date'], errors='coerce')
    df['end_date'] = pd.to_datetime(df['end_date'], errors='coerce')
    # 初始化一个空的索引列表用于记录需要删除的行
    rows_to_remove = []
    #遍历所有行，如果下一行和当前行的user_id、type_no_class相同，且下一行的start_date等于当前行的end_date，则将下一行的start_date改为当前行的start_date，并删除当前行
    for i in range(len(df) - 1):
        current_row = df.iloc[i]
        next_row = df.iloc[i + 1]
        if (current_row['user_id'] == next_row['user_id'] and
                current_row['type_no_class'] == next_row['type_no_class'] and
                (next_row['start_date'] - current_row['end_date']).days >= 0 and
                #或者next_row['start_date']只比current_row['end_date']大不超过30天
                 (next_row['start_date'] - current_row['end_date']).days <= 30):
            df.at[i + 1, 'T0'] = current_row['start_date']#这里先定义了T0，不过没影响，后面还会重新定义
            df.at[i + 1, 'start_date'] = current_row['start_date']
            rows_to_remove.append(i)
    return df.drop(df.index[rows_to_remove])

In [15]:
print(df2_2.shape)
df2_21=merge_period(df2_2)
print(df2_21.shape)

(524759, 6)
(514171, 7)

In [16]:
def jia_time(df):
    df=df.copy()
    df['T0'] = pd.to_datetime(df['start_date'], errors='coerce')
    df['start_date'] = pd.to_datetime(df['start_date'], errors='coerce')
    df['end_date'] = pd.to_datetime(df['end_date'], errors='coerce')

    # 初始化 jia_flag 和 jia_time
    df['jia_flag'] = 0# 二甲双胍是否满足
    df['jia_time'] = 0# T0之前的1个月期间二甲双胍使用时间

    for user_id, group in df.groupby('user_id'):
        # 预先筛选二甲双胍使用记录
        metformin_usage = group[group['type_no_class'] == 0]
        for index, row in group[group['type_no_class'].isin([1, 2])].iterrows():
            T0 = row['T0']
            start_date = T0 - pd.Timedelta(days=30)
            end_date = T0

            # 筛选出在 T0 前一个月的二甲双胍使用记录
            valid_usage = metformin_usage[(metformin_usage['start_date'] < end_date) &
                                          ((metformin_usage['end_date'] >= start_date) |
                                           (metformin_usage['end_date'].isna()))]

            # 计算有效使用天数
            covered_days = set()
            for _, m_row in valid_usage.iterrows():
                metformin_start = max(m_row['start_date'], start_date)
                metformin_end = min(m_row['end_date'] if pd.notna(m_row['end_date']) else end_date, end_date)
                covered_days.update(pd.date_range(start=metformin_start, end=metformin_end).date)

            df.at[index, 'jia_time'] = len(covered_days)
            df.at[index, 'jia_flag'] = 1 if len(covered_days) >= 23 else 0
    return df

# df2_2 = df2_2.drop(['drug_type','adjust_date', 'is_used'], axis=1)
df2_3 = jia_time(df2_21)#计算二甲双胍
print(df2_3['jia_flag'].value_counts())
df2_3.shape

(514171, 9)

In [24]:
df2_3.head(5)

,user_id,drug_type,type_no_class,start_date,end_date,adjust_date,T0,jia_flag,jia_time
146,10238.0,1.0,0.0,2008-01-01,NaT,NaN,2008-01-01,0,0
620,10238.0,1.0,1.0,2020-01-10,NaT,NaN,2020-01-10,1,31
0,10238.0,1.0,2.0,2020-05-17,NaT,NaN,2020-05-17,1,31
152,10238.0,3.0,9.0,2019-05-30,2020-01-10,NaN,2019-05-30,0,0
6,10238.0,1.0,12.0,2019-05-30,NaT,NaN,2019-05-30,0,0

In [25]:
def yi_time(df):
    df=df.copy()
    df['T0'] = pd.to_datetime(df['start_date'], errors='coerce')
    df['start_date'] = pd.to_datetime(df['start_date'], errors='coerce')
    df['end_date'] = pd.to_datetime(df['end_date'], errors='coerce')
    df.loc[:, 'yi_flag'] = 0  # 胰岛素是否满足，1满足，0不满足
    df.loc[:, 'yi_time'] = 0  # 胰岛素是否满足

    for user_id, group in df.groupby('user_id'):
        # 预先筛选出胰岛素使用记录（type_no_class 介于 9 到 19 之间）
        insulin_usage = group[group['type_no_class'].between(9, 19)]#搜索范围是左闭右闭
        for index, row in group[group['type_no_class'].isin([1, 2])].iterrows():
            T0 = row['T0']
            start_date = T0 - pd.Timedelta(days=90)
            end_date = T0

            # 筛选出在 T0 前90天内的胰岛素使用记录
            valid_usage = insulin_usage[(insulin_usage['start_date'] < end_date) &
                                        ((insulin_usage['end_date'] >= start_date) |
                                         (insulin_usage['end_date'].isna()))]

            # 计算有效使用天数（考虑不同胰岛素的使用时间并集）
            covered_days = set()
            for _, i_row in valid_usage.iterrows():
                insulin_start = max(i_row['start_date'], start_date)
                insulin_end = min(i_row['end_date'] if pd.notna(i_row['end_date']) else end_date, end_date)
                covered_days.update(pd.date_range(start=insulin_start, end=insulin_end).date)

            df.at[index, 'yi_time'] = len(covered_days)
            df.at[index, 'yi_flag'] = 0 if  len(covered_days) >= 30 else 1

    return df

df2_4 = yi_time(df2_3)
df2_4.to_csv(os.path.join(datapath, 'df2_4.csv'), index=False)
df2_4.shape

(514171, 11)

In [26]:
df2_4.head()

,user_id,drug_type,type_no_class,start_date,end_date,adjust_date,T0,jia_flag,jia_time,yi_flag,yi_time
146,10238.0,1.0,0.0,2008-01-01,NaT,NaN,2008-01-01,0,0,0,0
620,10238.0,1.0,1.0,2020-01-10,NaT,NaN,2020-01-10,1,31,0,91
0,10238.0,1.0,2.0,2020-05-17,NaT,NaN,2020-05-17,1,31,0,91
152,10238.0,3.0,9.0,2019-05-30,2020-01-10,NaN,2019-05-30,0,0,0,0
6,10238.0,1.0,12.0,2019-05-30,NaT,NaN,2019-05-30,0,0,0,0

In [27]:
df2_4['yi_flag'].value_counts()

yi_flag
0    415680
1     98491
Name: count, dtype: int64

In [28]:
#筛选出胰岛素都满足的数据
df2_4=pd.read_csv(os.path.join(datapath, 'df2_4.csv'))
# df2_5=df2_4[(df2_4['yi_flag']==1)&(df2_4['jia_flag']==1)]
# df2_5=df2_5.copy()
df2_5=df2_4.copy()
df2_5.drop(['jia_flag','yi_flag','jia_time','yi_time'],axis=1,inplace=True)
print(df2_5.shape)
df2_6=merge_period(df2_5)
print(df2_6.shape)

(514171, 7)
(514116, 7)

In [6]:
df2_4=pd.read_csv(os.path.join(datapath, 'df2_4.csv'))
print(df2_4[df2_4['type_no_class'] == 1]['user_id'].nunique())
print(df2_4[df2_4['type_no_class'] == 2]['user_id'].nunique())

32479
78734

In [29]:
def compute_T1(df):
    df=df.copy()
    df['T0'] = pd.to_datetime(df['T0'], errors='coerce')
    df['start_date'] = pd.to_datetime(df['start_date'], errors='coerce')
    df['end_date'] = pd.to_datetime(df['end_date'], errors='coerce')
    df.loc[:, 'T1'] = pd.NaT
    df.loc[:,'opposite_date'] = pd.NaT
    df.loc[:,'yi_start_date'] = pd.NaT
    df['type_no_class'] = pd.to_numeric(df['type_no_class'], errors='coerce')

    for user_id, group in df.groupby('user_id'):
        # 遍历每个用户的行
        for index, row in group.iterrows():
            # 对于 type_no_class 为 1 或 2 的行，找到对比组药物的最早开始日期
            if row['type_no_class'] in [1, 2]:
                opposite_type = 1 if row['type_no_class'] == 2 else 2
                min_start_date = group[(group['type_no_class'] == opposite_type) &
                                       (group['start_date'] > row['start_date'])]['start_date'].min()
                if pd.notna(min_start_date):
                    df.at[index, 'opposite_date'] = min_start_date

                # 找到胰岛素的最早开始日期
                min_insulin_start = group[(group['type_no_class'].between(9, 19)) &
                                          (group['start_date'] > row['start_date'])]['start_date'].min()
                if pd.notna(min_insulin_start):
                    df.at[index, 'yi_start_date'] = min_insulin_start
                dates=[row['end_date'],min_start_date,min_insulin_start]
                
                valid_dates = [date for date in dates if pd.notna(date)]
                if valid_dates:
                    df.at[index, 'T1'] = min(valid_dates)
                else:
                    df.at[index, 'T1'] = pd.Timestamp('2023-09-01')
    return df


df2_7=compute_T1(df2_6)
print(df2_7.shape)
# df2_8=merge_period(df2_7)
# print(df2_8.shape)
# #时间提取完毕，删掉无用列
# df2_8=df2_8.copy()
# print(df2_8.shape)
df2_8=df2_7[df2_7['type_no_class'].isin([1,2])]
print(df2_8.shape)
df2_8.columns

(514116, 10)
(117674, 10)

Index(['user_id', 'drug_type', 'type_no_class', 'start_date', 'end_date',
       'adjust_date', 'T0', 'T1', 'opposite_date', 'yi_start_date'],
      dtype='object')

In [30]:
df2_8.drop(['start_date','end_date','opposite_date','yi_start_date'],axis=1,inplace=True)
df2_8.to_csv(os.path.join(datapath, 'df2_8.csv'), index=False)

C:\Users\shijuan_125623147720\AppData\Local\Temp\1\ipykernel_10024\1654885613.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_8.drop(['start_date','end_date','opposite_date','yi_start_date'],axis=1,inplace=True)

In [7]:
def count_user_id(df):
    print('user_id:',df['user_id'].nunique())
    print(df[df['type_no_class'] == 1]['user_id'].nunique())
    print(df[df['type_no_class'] == 2]['user_id'].nunique())
df2_8=pd.read_csv(os.path.join(datapath, 'df2_8.csv'))
count_user_id(df2_8)
df2_8['type_no_class'].value_counts()

user_id: 92969
32479
78734

type_no_class
2.0    82502
1.0    35172
Name: count, dtype: int64

In [8]:
def get_first_HbA1c(df1, df):
    df=df.copy()
    df['T0'] = pd.to_datetime(df['T0'], errors='coerce')
    df1.loc[:, 'visit_at'] = pd.to_datetime(df1['visit_at'], errors='coerce')
    df.loc[:, 'first_Hb_flag'] = 0  # 是否有基线访视
    df.loc[:, 'first_Hb_time'] = 0  # 基线访视距离T0的天数
    df.loc[:, 'first_Hb_date'] = 0  # 基线访视日期

    last_13_columns = df1.columns[-15:]#增加了hosp_id和age
    def calculate_and_update_group(group):
        user_visits = df1[df1['user_id'] == group.name]
        for index, row in group.iterrows():
            # 筛选出T0之前的访问
            valid_visits = user_visits[user_visits['visit_at'] <= row['T0']]
            if not valid_visits.empty:
                # 找到最近的访问
                latest_visit = valid_visits['visit_at'].max()
                days_difference = (row['T0'] - latest_visit).days
                group.at[index, 'first_Hb_time'] = days_difference
                group.at[index, 'first_Hb_date'] = latest_visit.date()#只需保存first_Hb_date的年月日
                # 根据 days_difference 更新 first_Hb_flag 和基线访视数据
                if days_difference < 92:
                    group.at[index, 'first_Hb_flag'] = 1
                    baseline_visit = valid_visits.sort_values('visit_at', ascending=False).iloc[0]
                    for col in last_13_columns:
                        group.at[index, col + '_base'] = baseline_visit[col]
            else:
                # 没有有效访问，保持 first_Hb_time 为 NaN
                group.at[index, 'first_Hb_time'] = pd.NA

        return group

    df2 = df.groupby('user_id').apply(calculate_and_update_group)
    df2.reset_index(drop=True, inplace=True)
    return df2
df1_merged=pd.read_csv(os.path.join(datapath, 'df1_merged.csv'))
df2_first=get_first_HbA1c(df1_merged, df2_8)
print(df2_first.shape)
print(df2_first.columns)

(117674, 24)
Index(['user_id', 'drug_type', 'type_no_class', 'adjust_date', 'T0', 'T1',
       'first_Hb_flag', 'first_Hb_time', 'first_Hb_date', 'hosp_id_base',
       'age_base', 'diabetic_duration_base', 'sbp_base', 'dbp_base',
       'bmi_v1_base', 'vat_base', 'ALT_base', 'LDL_c_base', 'Cr_base',
       'UACR_base', 'eGFR_EPI_base', 'FPG_base', 'CP0_base', 'HbA1c_base'],
      dtype='object')

In [10]:
#临时统计
def get_first_HbA1c(df1, df):
    df=df.copy()
    df['T0'] = pd.to_datetime(df['T0'], errors='coerce')
    df1.loc[:, 'visit_at'] = pd.to_datetime(df1['visit_at'], errors='coerce')
    df.loc[:, 'first_Hb_flag'] = 0  # 是否有基线访视
    df.loc[:, 'first_Hb_time'] = 0  # 基线访视距离T0的天数
    df.loc[:, 'first_Hb_date'] = 0  # 基线访视日期

    last_13_columns = df1.columns[-16:]#增加了hosp_id和age、sex
    def calculate_and_update_group(group):
        user_visits = df1[df1['user_id'] == group.name]
        for index, row in group.iterrows():
            # 筛选出T0之前的访问
            valid_visits = user_visits[user_visits['visit_at'] <= row['T0']]
            if not valid_visits.empty:
                # 找到最近的访问
                latest_visit = valid_visits['visit_at'].max()
                days_difference = (row['T0'] - latest_visit).days
                group.at[index, 'first_Hb_time'] = days_difference
                group.at[index, 'first_Hb_date'] = latest_visit.date()#只需保存first_Hb_date的年月日
                # 根据 days_difference 更新 first_Hb_flag 和基线访视数据
                if days_difference < 92:
                    group.at[index, 'first_Hb_flag'] = 1
                    baseline_visit = valid_visits.sort_values('visit_at', ascending=False).iloc[0]
                    for col in last_13_columns:
                        group.at[index, col + '_base'] = baseline_visit[col]
            else:
                # 没有有效访问，保持 first_Hb_time 为 NaN
                group.at[index, 'first_Hb_time'] = pd.NA

        return group

    df2 = df.groupby('user_id').apply(calculate_and_update_group)
    df2.reset_index(drop=True, inplace=True)
    return df2
df2_8=pd.read_csv(os.path.join(datapath, 'df2_8.csv'))
df1_merged_statistics=pd.read_csv(os.path.join(datapath, 'df1_merged_statistics.csv'))
# df1_merged_statistics.columns
df2_first_statistics=get_first_HbA1c(df1_merged_statistics, df2_8)
df2_first_statistics.to_csv(os.path.join(datapath, 'df2_first_statistics.csv'), index=False)

In [9]:
# 仅保留first_Hb_flag=1的行
df2_first1 = df2_first[(df2_first['first_Hb_flag'] == 1) ] 
df2_first2 = df2_first1[(df2_first1['age_base'] > 18) ] 
count_user_id(df2_first2)
df2_first2 = df2_first2.copy()
df2_first2.drop(['first_Hb_flag', 'first_Hb_time'], axis=1, inplace=True)
#仅保留基线糖化不正常的患者
df2_9 = df2_first2[df2_first2['HbA1c_base'] >= 7]
count_user_id(df2_9)
print(df2_9.shape)

user_id: 66008
23296
53283
user_id: 54014
18859
43394
(64124, 22)

In [33]:
def get_potential_last_HbA1c(df1, df):
    df=df.copy()
    df1['visit_at'] = pd.to_datetime(df1['visit_at'], errors='coerce')
    df['T1'] = pd.to_datetime(df['T1'], errors='coerce')
    df['T0'] = pd.to_datetime(df['T0'], errors='coerce')
    df.loc[:, 'last_Hb_date'] = 0  # 末次访视日期
    df.loc[:, 'last_Hb_empty'] = 0  # 是否找不到访视

    def calculate_and_update_group(group):
        user_visits = df1[df1['user_id'] == group.name]
        for index, row in group.iterrows():
            three_months_after_T1 = row['T1'] + pd.Timedelta(days=92)
            three_months_after_T0 = row['T0'] + pd.Timedelta(days=92)

            valid_visits = user_visits[(user_visits['visit_at'] >= three_months_after_T0) & (
                            user_visits['visit_at'] <= three_months_after_T1)]

            if not valid_visits.empty:
                # 找到可行范围内最远的访视
                last_visit_date = valid_visits['visit_at'].max()
                group.at[index, 'last_Hb_date'] = last_visit_date.date()  # 只需保存last_Hb_date的年月日
            else:
                group.at[index, 'last_Hb_empty'] = 1
        return group

    df2 = df.groupby('user_id').apply(calculate_and_update_group)
    #删除index
    df2.reset_index(drop=True, inplace=True)
    return df2

df3_0=get_potential_last_HbA1c(df1_merged, df2_9)
print(df3_0.shape)
print(df3_0.columns)
df3_0.to_csv(os.path.join(datapath, 'df3_0.csv'), index=False)

(64124, 24)
Index(['user_id', 'drug_type', 'type_no_class', 'adjust_date', 'T0', 'T1',
       'first_Hb_date', 'hosp_id_base', 'age_base', 'diabetic_duration_base',
       'sbp_base', 'dbp_base', 'bmi_v1_base', 'vat_base', 'ALT_base',
       'LDL_c_base', 'Cr_base', 'UACR_base', 'eGFR_EPI_base', 'FPG_base',
       'CP0_base', 'HbA1c_base', 'last_Hb_date', 'last_Hb_empty'],
      dtype='object')

In [12]:
# 仅保留last_Hb_empty=0的行
df3_0=pd.read_csv(os.path.join(datapath, 'df3_0.csv'))
df3_1 = df3_0[(df3_0['last_Hb_empty'] == 0) ] 
count_user_id(df3_1)
df3_1  = df3_1 .copy()
df3_1 .drop(['last_Hb_empty','sbp_base','vat_base','eGFR_EPI_base','UACR_base'], axis=1, inplace=True)
print(df3_1.shape)

user_id: 36565
11468
29013
(41116, 19)

In [35]:
from collections import defaultdict
def count_overlaps(df):
    '''
    根据T0、T1统计出每个患者所有服用type_no_class=1和2的时间段
    计算同时服用的时间段和总天数
    如果有多段时间同时服用，则both_date是多个时间段
    如果没有同时服用的情况，both_date和both_time都为0
    '''
    filtered_data = df[df['type_no_class'].isin([1,2])]
    filtered_data.loc[:,'T0'] = pd.to_datetime(filtered_data.loc[:,'T0'], errors='coerce')
    filtered_data.loc[:,'T1'] = pd.to_datetime(filtered_data.loc[:,'T1'], errors='coerce')


    # 建立用药时间段字典
    medication_periods = defaultdict(lambda: {'class_1': [], 'class_2': []})
    for _, row in filtered_data.iterrows():
        user_id = row['user_id']
        class_type = 'class_1' if row['type_no_class'] == 1 else 'class_2'
        end_date = row['T1'] #if pd.notna(row['T1']) else pd.Timestamp('2023-09-01')
        medication_periods[user_id][class_type].append((row['T0'], end_date))

    # 计算重叠时间
    def find_overlaps_open_interval(periods_1, periods_2):
        overlaps = []
        total_days = 0
        for start_1, end_1 in periods_1:
            for start_2, end_2 in periods_2:
                start_overlap = max(start_1, start_2)
                end_overlap = min(end_1 if end_1 else start_overlap, end_2 if end_2 else start_overlap)
                if start_overlap < end_overlap:
                    overlap_days = (end_overlap - start_overlap).days
                    if overlap_days > 0:
                        # print(start_1,end_1, start_2, end_2, start_overlap, end_overlap, overlap_days)
                        overlaps.append((start_overlap, end_overlap))
                        total_days += overlap_days
        return overlaps, total_days

    results = defaultdict(lambda: {'both_date': [], 'both_time': 0})
    for user_id, periods in medication_periods.items():
        overlaps, total_days = find_overlaps_open_interval(periods['class_1'], periods['class_2'])
        results[user_id]['both_date'] = overlaps
        results[user_id]['both_time'] = total_days

    # 结果汇总
    results_df_open_interval = pd.DataFrame.from_dict(results, orient='index').reset_index()
    results_df_open_interval.rename(columns={'index': 'user_id'}, inplace=True)
    #统计同时服用的患者数量和患者总数
    both_time_count = (results_df_open_interval['both_time']>0).sum()
    print('同时服用的患者数量:',both_time_count)
    print('患者总数:',results_df_open_interval.shape[0])
    
    df_overlap=results_df_open_interval#.reset_index(drop=True, inplace=True)
    df_overlap=df_overlap[df_overlap['both_time']>0]
    print(df_overlap)
    return df_overlap
df_overlap=count_overlaps(df3_1)

同时服用的患者数量: 3272
患者总数: 36565
         user_id                                     both_date  both_time
129    1364194.0  [(2019-08-01 00:00:00, 2020-01-14 00:00:00)]        166
239    1388434.0  [(2017-11-10 00:00:00, 2023-09-01 00:00:00)]       2121
256    1390230.0  [(2018-09-17 00:00:00, 2021-06-07 00:00:00)]        994
262    1390708.0  [(2022-11-28 00:00:00, 2023-09-01 00:00:00)]        277
296    1394630.0  [(2022-05-12 00:00:00, 2023-09-01 00:00:00)]        477
...          ...                                           ...        ...
36549  5146255.0  [(2023-08-19 00:00:00, 2023-09-02 00:00:00)]         14
36551  5150047.0  [(2023-08-22 00:00:00, 2023-09-01 00:00:00)]         10
36555  5159085.0  [(2023-08-18 00:00:00, 2023-12-19 00:00:00)]        123
36557  5161481.0  [(2023-08-19 00:00:00, 2023-09-01 00:00:00)]         13
36560  5170793.0  [(2023-08-28 00:00:00, 2023-09-01 00:00:00)]          4

[3272 rows x 3 columns]

In [36]:
print(df3_1.shape)
df3_11 = df3_1[~df3_1['user_id'].isin(df_overlap['user_id'])]
print(df3_11.shape)
df3_11.columns

(41116, 19)
(34501, 19)

Index(['user_id', 'drug_type', 'type_no_class', 'adjust_date', 'T0', 'T1',
       'first_Hb_date', 'hosp_id_base', 'age_base', 'diabetic_duration_base',
       'dbp_base', 'bmi_v1_base', 'ALT_base', 'LDL_c_base', 'Cr_base',
       'FPG_base', 'CP0_base', 'HbA1c_base', 'last_Hb_date'],
      dtype='object')

In [37]:
df3_12=df3_11.copy()
df3_12.drop([ 'drug_type','adjust_date'],axis=1,inplace=True)
df3_12.columns

Index(['user_id', 'type_no_class', 'T0', 'T1', 'first_Hb_date', 'hosp_id_base',
       'age_base', 'diabetic_duration_base', 'dbp_base', 'bmi_v1_base',
       'ALT_base', 'LDL_c_base', 'Cr_base', 'FPG_base', 'CP0_base',
       'HbA1c_base', 'last_Hb_date'],
      dtype='object')

In [38]:
df3_12.to_csv(os.path.join(datapath, 'df3_12.csv'), index=False)

In [39]:
#计算其他四种降糖药物联用情况
# other_label_type='series'#计算连续标记
other_label_type='discrete'#计算离散标记

In [40]:
def drug_type_other(df2):
    df2['start_date'] = pd.to_datetime(df2['start_date'], errors='coerce')
    df2_1  = df2[df2['flag_drug'] != 1]
    # 将 'type_no_class' 列转换为数值型
    df2_1.loc[:, 'type_no_class'] = pd.to_numeric(df2_1['type_no_class'], errors='coerce')

    # 将 'type_no_class' 列中的空值转换为0
    df2_1.loc[:, 'type_no_class'] = df2_1['type_no_class'].fillna(1).astype('Int64')

    df2_1.loc[df2_1['drug_no'].isin([13001]), 'type_no_class'] = 101
    df2_1.loc[df2_1['drug_no'].isin([13002]), 'type_no_class'] = 102
    df2_1.loc[df2_1['drug_no'].isin([13003]), 'type_no_class'] = 103
    df2_1.loc[df2_1['drug_no'].isin([13004]), 'type_no_class'] = 104
    df2_1.loc[df2_1['drug_no'].isin([13005]), 'type_no_class'] = 105
    df2_1.loc[df2_1['drug_no'].isin([13006]), 'type_no_class'] = 106
    df2_1.loc[df2_1['drug_no'].isin([13007]), 'type_no_class'] = 107
    df2_1.loc[df2_1['drug_no'].isin([67002]), 'type_no_class'] = 108
    df2_1.loc[df2_1['drug_no'].isin([17001]), 'type_no_class'] = 109
    df2_1.loc[df2_1['drug_no'].isin([17002]), 'type_no_class'] = 110
    df2_1.loc[df2_1['drug_no'].isin([17003]), 'type_no_class'] = 111
    
    df2_1.loc[df2_1['drug_no'].isin([14001]), 'type_no_class'] = 201
    df2_1.loc[df2_1['drug_no'].isin([14002]), 'type_no_class'] = 202
    
    df2_1.loc[df2_1['drug_no'].isin([15001]), 'type_no_class'] = 301
    df2_1.loc[df2_1['drug_no'].isin([15002]), 'type_no_class'] = 302
    df2_1.loc[df2_1['drug_no'].isin([15003]), 'type_no_class'] = 303
    
    df2_1.loc[df2_1['drug_no'].isin([16001]), 'type_no_class'] = 401
    df2_1.loc[df2_1['drug_no'].isin([16002]), 'type_no_class'] = 402

    df2_1.loc[:, 'type_no_class'] = df2_1['type_no_class'].replace({6: -1, 8: -2, 2: 0})

    df2_2 = df2_1[df2_1['type_no_class'].isin([-1, -2, 0,101,102,103,104,105,106,107,108,109,110,111,201,202,301,302,303,401,402])]

    df2_2 = df2_2.drop([ 'drug_no', 'flag_drug'], axis=1)

    df2_2.loc[:, 'type_no_class'] = df2_2['type_no_class'].replace({-1: 1, -2: 2})
    return df2_2

def adjust_drug_type_other(df):
    '''
    删除所有drug_type=2的行
    将所有drug_type=4的行的drug_type改为1
    对于所有drug_type=1的行，如果存在另一行满足user_id、start_date、type_no_class相同且drug_type=3，则删除这个drug_type=1的行
    '''
    df = df[df['drug_type'] != 2]
    df.loc[df['drug_type'] == 4, 'drug_type'] = 1
     # 初始化一个空的索引列表用于记录需要删除的行
    rows_to_remove = []
    df['start_date'] = pd.to_datetime(df['start_date'], errors='coerce')
    df['end_date'] = pd.to_datetime(df['end_date'], errors='coerce')
    # 遍历数据帧，检查每一对相邻的行
    for i in range(len(df) - 1):
        current_row = df.iloc[i]
        next_row = df.iloc[i + 1]

        # 如果当前行和下一行的user_id,type_no_class相同
        if (current_row['user_id'] == next_row['user_id']  and
                current_row['type_no_class'] == next_row['type_no_class'] ):
            # 并且当前行是drug_type=1，下一行是drug_type=3，那么删除当前行
            if (current_row['drug_type'] == 1 and next_row['drug_type'] == 3 and
                current_row['start_date'] == next_row['start_date']):
                rows_to_remove.append(i)
            

    # 删除需要删除的行
    df = df.drop(df.index[rows_to_remove])

    return df

def merge_medication_periods(df,lst):
    '''
    将type_no_class在lst中的所有时间段，按user_id分组合并
    '''
    df['start_date'] = pd.to_datetime(df['start_date'], errors='coerce')
    df['end_date'] = pd.to_datetime(df['end_date'], errors='coerce')
    # 初始化收集合并后时间段的列表
    merged_periods = []

    # 按user_id分组
    for user_id, group in df.groupby('user_id'):

        insulin_usage = group[group['type_no_class'].isin(lst)]

        # 如果没有对应的药物记录，继续下一个分组
        if insulin_usage.empty:
            continue

        # 排序，以便合并时间段
        insulin_usage = insulin_usage.sort_values(by='start_date')

        # 初始化第一个时间段
        current_start = None
        current_end = None
        for _, row in insulin_usage.iterrows():
            # 如果是第一个时间段，或者当前记录的开始时间在当前时间段之后
            if current_start is None or row['start_date'] > current_end:
                # 如果当前时间段已存在，保存当前时间段
                if current_start is not None:
                    merged_periods.append([user_id, current_start, current_end])
                # 重置当前时间段为新记录的时间段
                current_start = row['start_date']
                current_end = row['end_date']
            else:
                # 如果当前记录与当前时间段重叠，扩展当前时间段的结束时间
                current_end = max(current_end, row['end_date'])

        # 保存最后一个时间段
        if current_start is not None:
            merged_periods.append([user_id, current_start, current_end])

    # 创建新的DataFrame
    df2 = pd.DataFrame(merged_periods, columns=['user_id', 'start_date', 'end_date'])
    return df2

def check_overlap_with_df2_regression(df, df2,drug='other_flag',flag='series'):
    df=df.copy()
    df.loc[:, drug] = 0 
    df['first_Hb_date'] = pd.to_datetime(df['first_Hb_date'], errors='coerce')
    df['target_Hb_date'] = pd.to_datetime(df['target_Hb_date'], errors='coerce')
    df['last_Hb_date'] = pd.to_datetime(df['last_Hb_date'], errors='coerce')
    df2['start_date'] = pd.to_datetime(df2['start_date'], errors='coerce')
    df2['end_date'] = pd.to_datetime(df2['end_date'], errors='coerce')
    # 遍历df
    for index, row in df.iterrows():
        user_id = row['user_id']
        first_Hb_date = row['first_Hb_date']
        #如果row['target_Hb_date']不为空，则将last_Hb_date设置为row['target_Hb_date']，否则不变
        if pd.notna(row['target_Hb_date']):
            last_Hb_date = row['target_Hb_date']
        else:
            last_Hb_date = row['last_Hb_date']

        # 筛选出df2中相同user_id的所有记录
        user_records = df2[df2['user_id'] == user_id]

        # 检查是否有重叠
        for _, record in user_records.iterrows():
            start_date = record['start_date']
            end_date = record['end_date']

            # 检查时间段是否重叠
            if not (last_Hb_date < start_date or first_Hb_date > end_date):
                #如果flag是离散的
                if flag=='discrete':
                    df.at[index, drug] = 1
                #如果flag是连续的
                else:
                    #计算重叠时长相对于比例
                    overlap_start = max(first_Hb_date, start_date)
                    overlap_end = min(last_Hb_date, end_date)
                    df.at[index, drug] = (overlap_end - overlap_start).days / (last_Hb_date - first_Hb_date).days
    return df

In [41]:
df_other_1 = drug_type_other(df2_merged)
df_other_1.sort_values(by=['user_id',  'type_no_class','start_date','drug_type'], inplace=True)
df_other_2=adjust_drug_type_other(df_other_1)
df_other_2 = df_other_2.drop(['drug_type','adjust_date'], axis=1)
df_other_3=merge_period(df_other_2)
df_other_3.to_csv(os.path.join(datapath, 'df_other_3.csv'), index=False)

C:\Users\shijuan_125623147720\AppData\Local\Temp\1\ipykernel_10024\2576849861.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['start_date'] = pd.to_datetime(df['start_date'], errors='coerce')
C:\Users\shijuan_125623147720\AppData\Local\Temp\1\ipykernel_10024\2576849861.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['end_date'] = pd.to_datetime(df['end_date'], errors='coerce')

In [42]:
df_other_3=pd.read_csv(os.path.join(datapath, 'df_other_3.csv'))
df_other_cumi=merge_medication_periods(df_other_3,[101,102,103,104,105,106,107,108,109,110,111])
df_other_jia=merge_medication_periods(df_other_3,[201,202])
df_other_tang=merge_medication_periods(df_other_3,[301,302,303])
df_other_TZD=merge_medication_periods(df_other_3,[401,402])

C:\Users\shijuan_125623147720\AppData\Local\Temp\1\ipykernel_10024\2231706445.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_other_3=pd.read_csv(os.path.join(datapath, 'df_other_3.csv'))

In [43]:
df3_12.head(5)

,user_id,type_no_class,T0,T1,first_Hb_date,hosp_id_base,age_base,diabetic_duration_base,dbp_base,bmi_v1_base,ALT_base,LDL_c_base,Cr_base,FPG_base,CP0_base,HbA1c_base,last_Hb_date
0,10238.0,1.0,2020-01-10,2020-05-17,2019-10-24,20006.0,58.0,178.0,NaN,NaN,35.0,1.40,98.0,12.38,1.97,7.1,2020-07-24
1,902628.0,2.0,2018-12-24,2023-09-01,2018-12-17,20006.0,43.0,71.0,100.0,27.6,23.0,3.58,67.0,15.25,2.08,9.8,2022-08-23
2,926558.0,2.0,2017-12-01,2023-09-01,2017-12-01,20006.0,36.0,31.0,87.0,33.7,68.0,2.58,75.0,7.89,2.94,7.5,2021-12-07
3,985157.0,1.0,2019-05-11,2019-08-13,2019-05-07,20006.0,56.0,120.0,67.0,34.3,21.0,3.55,62.0,6.72,NaN,8.0,2019-08-13
5,985248.0,1.0,2016-10-31,2017-02-17,2016-10-31,20006.0,59.0,81.0,75.0,30.3,64.0,3.25,60.0,10.62,NaN,8.0,2017-02-17

In [44]:
def get_all_normal_HbA1c(df1, df):
    df=df.copy()
    # 转换日期列为datetime类型
    df['T0'] = pd.to_datetime(df['T0'], errors='coerce')
    df['first_Hb_date'] = pd.to_datetime(df['first_Hb_date'], errors='coerce')
    df['last_Hb_date'] = pd.to_datetime(df['last_Hb_date'], errors='coerce')
    df1['visit_at'] = pd.to_datetime(df1['visit_at'], errors='coerce')

    df.loc[:, 'normal_Hb_flag'] = 0  # 是否有达标访视
    df.loc[:, 'normal_Hb_date'] = pd.NA  # 达标访视日期
    df.loc[:, 'drug_valid_time'] = 0  # 药物达标总天数时间
    last_columns = df1.columns[-1:]

    expanded_rows = []

    for _, row in df.iterrows():
        user_visits = df1[df1['user_id'] == row['user_id']]
        three_months_after_first = row['first_Hb_date'] + pd.Timedelta(days=92)
        twelve_months_after_first = row['first_Hb_date'] + pd.Timedelta(days=457)
        # 筛选出在指定日期范围内的访问记录
        valid_visits = user_visits[(user_visits['visit_at'] >= three_months_after_first)  
                                   & (user_visits['visit_at'] <= twelve_months_after_first)
                                   & (user_visits['visit_at'] <= row['last_Hb_date'])]
        # 筛选达标的访问记录
        normal_visits = valid_visits[valid_visits['HbA1c'] < 7].sort_values(by='visit_at')
        first_normal_visit_date = normal_visits.iloc[0]['visit_at'] if not normal_visits.empty else None

        if valid_visits.empty:
            # 如果没有找到任何访视，仍需复制原行但不添加访视信息
            row['normal_Hb_flag'] = 0
            expanded_rows.append(row)
        else:
            for _, visit in valid_visits.iterrows():
                new_row = row.copy()
                if first_normal_visit_date and visit['visit_at'] >= first_normal_visit_date:
                    # 达标或达标后的访视
                    new_row['normal_Hb_flag'] = 1
                else:
                    # 未达标或达标前的访视
                    new_row['normal_Hb_flag'] = 0
                new_row['drug_valid_time'] = (visit['visit_at'] - row['T0']).days
                new_row['normal_Hb_date'] = visit['visit_at'].date()

                for col in last_columns:
                    new_row[col + '_normal'] = visit[col]

                expanded_rows.append(new_row)

        # 转换expanded_rows列表为DataFrame
    expanded_df = pd.DataFrame(expanded_rows)

    return expanded_df.reset_index(drop=True)

In [45]:
df3_12=pd.read_csv(os.path.join(datapath, 'df3_12.csv'))
# df3_2=get_normal_HbAlc(df1_merged,df3_12)
df3_2=get_all_normal_HbA1c(df1_merged,df3_12)
df3_2.sort_values(by=['user_id', 'type_no_class', 'first_Hb_date'])
print(df3_2.shape)
print(df3_2.columns)
df3_2['normal_Hb_flag'].value_counts()

(47577, 21)
Index(['user_id', 'type_no_class', 'T0', 'T1', 'first_Hb_date', 'hosp_id_base',
       'age_base', 'diabetic_duration_base', 'dbp_base', 'bmi_v1_base',
       'ALT_base', 'LDL_c_base', 'Cr_base', 'FPG_base', 'CP0_base',
       'HbA1c_base', 'last_Hb_date', 'normal_Hb_flag', 'normal_Hb_date',
       'drug_valid_time', 'HbA1c_normal'],
      dtype='object')

normal_Hb_flag
0    28151
1    19426
Name: count, dtype: int64

In [46]:
#调整列顺序
original_indices = list(range(len(df3_2.columns)))
original_indices.remove(16)
original_indices.remove(18)
original_indices.remove(19)
original_indices.remove(20)
new_indices = original_indices[:5]+ [18] + [16]+[5]+[19]+ original_indices[6:17]
df3_3 = df3_2.iloc[:, new_indices]
df3_3.rename(columns={df3_3.columns[5]: 'target_Hb_date'}, inplace=True)
print(df3_3.columns)
print(df3_3.shape)

Index(['user_id', 'type_no_class', 'T0', 'T1', 'first_Hb_date',
       'target_Hb_date', 'last_Hb_date', 'hosp_id_base', 'drug_valid_time',
       'age_base', 'diabetic_duration_base', 'dbp_base', 'bmi_v1_base',
       'ALT_base', 'LDL_c_base', 'Cr_base', 'FPG_base', 'CP0_base',
       'HbA1c_base', 'normal_Hb_flag'],
      dtype='object')
(47577, 20)

C:\Users\shijuan_125623147720\AppData\Local\Temp\1\ipykernel_10024\3929545019.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_3.rename(columns={df3_3.columns[5]: 'target_Hb_date'}, inplace=True)

In [47]:
#删除用药时长小于90天的
df3_31=df3_3[df3_3['drug_valid_time'] >=90]
df3_31.drop_duplicates(keep='first',inplace=True)
print(df3_31.shape)
df3_3=df3_31.copy()

(41743, 20)

C:\Users\shijuan_125623147720\AppData\Local\Temp\1\ipykernel_10024\3173577556.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_31.drop_duplicates(keep='first',inplace=True)

In [57]:
df3_3.head(30)

,user_id,type_no_class,T0,T1,first_Hb_date,target_Hb_date,last_Hb_date,hosp_id_base,drug_valid_time,age_base,diabetic_duration_base,dbp_base,bmi_v1_base,ALT_base,LDL_c_base,Cr_base,FPG_base,CP0_base,HbA1c_base,normal_Hb_flag
0,10238.0,1.0,2020-01-10,2020-05-17,2019-10-24,2020-07-24,2020-07-24,20006.0,196,58.0,178.0,NaN,NaN,35.0,1.40,98.0,12.38,1.97,7.1,0
1,902628.0,2.0,2018-12-24,2023-09-01,2018-12-17,2019-03-26,2022-08-23,20006.0,92,43.0,71.0,100.0,27.6,23.0,3.58,67.0,15.25,2.08,9.8,1
2,902628.0,2.0,2018-12-24,2023-09-01,2018-12-17,2019-06-25,2022-08-23,20006.0,183,43.0,71.0,100.0,27.6,23.0,3.58,67.0,15.25,2.08,9.8,1
4,985157.0,1.0,2019-05-11,2019-08-13,2019-05-07,2019-08-13,2019-08-13,20006.0,94,56.0,120.0,67.0,34.3,21.0,3.55,62.0,6.72,NaN,8.0,0
5,985248.0,1.0,2016-10-31,2017-02-17,2016-10-31,2017-02-17,2017-02-17,20006.0,109,59.0,81.0,75.0,30.3,64.0,3.25,60.0,10.62,NaN,8.0,1
6,1025718.0,2.0,2021-07-01,2023-02-01,2021-04-14,2021-09-29,2023-04-06,20006.0,90,63.0,207.0,62.0,21.3,21.0,2.86,49.0,8.24,NaN,7.2,0
7,1025718.0,2.0,2021-07-01,2023-02-01,2021-04-14,2021-12-28,2023-04-06,20006.0,180,63.0,207.0,62.0,21.3,21.0,2.86,49.0,8.24,NaN,7.2,0
8,1046523.0,1.0,2020-06-08,2021-07-31,2020-06-08,2020-09-14,2021-06-18,20006.0,98,29.0,44.0,79.0,33.7,27.0,4.04,61.0,9.50,NaN,7.2,1
9,1046523.0,1.0,2020-06-08,2021-07-31,2020-06-08,2020-12-07,2021-06-18,20006.0,182,29.0,44.0,79.0,33.7,27.0,4.04,61.0,9.50,NaN,7.2,1
10,1046523.0,1.0,2020-06-08,2021-07-31,2020-06-08,2021-03-10,2021-06-18,20006.0,275,29.0,44.0,79.0,33.7,27.0,4.04,61.0,9.50,NaN,7.2,1
11,1046523.0,1.0,2020-06-08,2021-07-31,2020-06-08,2021-06-18,2021-06-18,20006.0,375,29.0,44.0,79.0,33.7,27.0,4.04,61.0,9.50,NaN,7.2,1
12,1046523.0,1.0,2020-06-08,2023-09-01,2020-06-08,2020-09-14,2021-12-09,20006.0,98,29.0,44.0,79.0,33.7,27.0,4.04,61.0,9.50,NaN,7.2,1
13,1046523.0,1.0,2020-06-08,2023-09-01,2020-06-08,2020-12-07,2021-12-09,20006.0,182,29.0,44.0,79.0,33.7,27.0,4.04,61.0,9.50,NaN,7.2,1
14,1046523.0,1.0,2020-06-08,2023-09-01,2020-06-08,2021-03-10,2021-12-09,20006.0,275,29.0,44.0,79.0,33.7,27.0,4.04,61.0,9.50,NaN,7.2,1
15,1046523.0,1.0,2020-06-08,2023-09-01,2020-06-08,2021-06-18,2021-12-09,20006.0,375,29.0,44.0,79.0,33.7,27.0,4.04,61.0,9.50,NaN,7.2,1
16,1046523.0,2.0,2018-07-17,2020-06-08,2018-07-17,2019-01-21,2020-06-08,20006.0,188,29.0,21.0,82.0,33.9,37.0,4.03,59.0,7.93,6.85,7.3,1
17,1046523.0,2.0,2018-07-17,2020-06-08,2018-07-17,2019-04-22,2020-06-08,20006.0,279,29.0,21.0,82.0,33.9,37.0,4.03,59.0,7.93,6.85,7.3,1
18,1046523.0,2.0,2018-07-17,2020-06-08,2018-07-17,2019-07-23,2020-06-08,20006.0,371,29.0,21.0,82.0,33.9,37.0,4.03,59.0,7.93,6.85,7.3,1
19,1064020.0,2.0,2020-07-03,2023-09-01,2020-07-02,2020-11-13,2023-06-13,20006.0,133,50.0,57.0,76.0,27.5,14.0,4.30,80.0,7.98,NaN,7.2,0
20,1064020.0,2.0,2020-07-03,2023-09-01,2020-07-02,2021-02-03,2023-06-13,20006.0,215,50.0,57.0,76.0,27.5,14.0,4.30,80.0,7.98,NaN,7.2,0
21,1064020.0,2.0,2020-07-03,2023-09-01,2020-07-02,2021-05-11,2023-06-13,20006.0,312,50.0,57.0,76.0,27.5,14.0,4.30,80.0,7.98,NaN,7.2,0
22,1064020.0,2.0,2020-07-03,2023-09-01,2020-07-02,2021-08-20,2023-06-13,20006.0,413,50.0,57.0,76.0,27.5,14.0,4.30,80.0,7.98,NaN,7.2,0
23,1064162.0,1.0,2018-02-26,2018-07-31,2018-02-26,2018-08-24,2018-08-24,20006.0,179,43.0,20.0,103.0,34.5,42.0,3.00,79.0,9.31,NaN,7.6,0
24,1064162.0,2.0,2018-08-24,2023-09-01,2018-08-24,2019-03-04,2021-12-01,20006.0,192,43.0,26.0,94.0,33.4,60.0,3.16,81.0,9.29,NaN,7.1,0
25,1064162.0,2.0,2018-08-24,2023-09-01,2018-08-24,2019-06-04,2021-12-01,20006.0,284,43.0,26.0,94.0,33.4,60.0,3.16,81.0,9.29,NaN,7.1,0
26,1064162.0,2.0,2018-08-24,2023-09-01,2018-08-24,2019-09-03,2021-12-01,20006.0,375,43.0,26.0,94.0,33.4,60.0,3.16,81.0,9.29,NaN,7.1,1
27,1082244.0,2.0,2019-10-15,2020-05-05,2019-10-15,2020-02-07,2020-06-05,20006.0,115,52.0,93.0,76.0,29.6,42.0,3.09,67.0,6.56,NaN,7.3,0
28,1082244.0,2.0,2019-10-15,2020-05-05,2019-10-15,2020-06-05,2020-06-05,20006.0,234,52.0,93.0,76.0,29.6,42.0,3.09,67.0,6.56,NaN,7.3,1
29,1094056.0,2.0,2020-08-03,2023-09-01,2020-08-03,2020-12-07,2022-03-01,20006.0,126,69.0,91.0,81.0,26.3,36.0,3.33,75.0,14.14,4.54,8.9,0
30,1094056.0,2.0,2020-08-03,2023-09-01,2020-08-03,2021-04-15,2022-03-01,20006.0,255,69.0,91.0,81.0,26.3,36.0,3.33,75.0,14.14,4.54,8.9,0

In [48]:
df3_3.to_csv(os.path.join(datapath, 'df_first_normal.csv'), index=False)
#注意，最后一列normal_Hb_flag是标记.索引6是医院编号，索引7-17是用药时长+10列特征

In [11]:
df3_3=pd.read_csv(os.path.join(datapath, 'df_first_normal.csv'))
count_user_id(df3_3)

user_id: 28768
7073
22242

In [49]:
df3_3['type_no_class'].value_counts()

type_no_class
2.0    32081
1.0     9662
Name: count, dtype: int64

In [50]:
print('hosp_id:',df3_3['hosp_id_base'].nunique())
df3_3['hosp_id_base'].value_counts()

hosp_id: 260

hosp_id_base
20006.0    2367
11370.0    1662
11727.0    1443
11624.0    1307
11362.0    1269
           ...
11067.0       1
10872.0       1
11977.0       1
11929.0       1
51505.0       1
Name: count, Length: 260, dtype: int64

In [51]:
df_first_normal=pd.read_csv(os.path.join(datapath, 'df_first_normal.csv'))
df_first_normal1 = check_overlap_with_df2_regression(df_first_normal, df_other_cumi,drug='cumi_flag',flag=other_label_type)
df_first_normal2= check_overlap_with_df2_regression(df_first_normal1, df_other_jia,drug='jia_flag',flag=other_label_type)
df_first_normal3 = check_overlap_with_df2_regression(df_first_normal2, df_other_tang,drug='tang_flag',flag=other_label_type)
df_first_normal4 = check_overlap_with_df2_regression(df_first_normal3, df_other_TZD,drug='TZD_flag',flag=other_label_type)

In [52]:
df_first_normal4.head(10)

,user_id,type_no_class,T0,T1,first_Hb_date,target_Hb_date,last_Hb_date,hosp_id_base,drug_valid_time,age_base,...,LDL_c_base,Cr_base,FPG_base,CP0_base,HbA1c_base,normal_Hb_flag,cumi_flag,jia_flag,tang_flag,TZD_flag
0,10238.0,1.0,2020-01-10,2020-05-17,2019-10-24,2020-07-24,2020-07-24,20006.0,196,58.0,...,1.40,98.0,12.38,1.97,7.1,0,0,1,1,0
1,902628.0,2.0,2018-12-24,2023-09-01,2018-12-17,2019-03-26,2022-08-23,20006.0,92,43.0,...,3.58,67.0,15.25,2.08,9.8,1,1,1,1,0
2,902628.0,2.0,2018-12-24,2023-09-01,2018-12-17,2019-06-25,2022-08-23,20006.0,183,43.0,...,3.58,67.0,15.25,2.08,9.8,1,1,1,1,0
3,985157.0,1.0,2019-05-11,2019-08-13,2019-05-07,2019-08-13,2019-08-13,20006.0,94,56.0,...,3.55,62.0,6.72,NaN,8.0,0,0,1,1,0
4,985248.0,1.0,2016-10-31,2017-02-17,2016-10-31,2017-02-17,2017-02-17,20006.0,109,59.0,...,3.25,60.0,10.62,NaN,8.0,1,1,1,0,0
5,1025718.0,2.0,2021-07-01,2023-02-01,2021-04-14,2021-09-29,2023-04-06,20006.0,90,63.0,...,2.86,49.0,8.24,NaN,7.2,0,1,0,1,0
6,1025718.0,2.0,2021-07-01,2023-02-01,2021-04-14,2021-12-28,2023-04-06,20006.0,180,63.0,...,2.86,49.0,8.24,NaN,7.2,0,1,0,1,0
7,1046523.0,1.0,2020-06-08,2021-07-31,2020-06-08,2020-09-14,2021-06-18,20006.0,98,29.0,...,4.04,61.0,9.50,NaN,7.2,1,0,0,1,0
8,1046523.0,1.0,2020-06-08,2021-07-31,2020-06-08,2020-12-07,2021-06-18,20006.0,182,29.0,...,4.04,61.0,9.50,NaN,7.2,1,0,0,1,0
9,1046523.0,1.0,2020-06-08,2021-07-31,2020-06-08,2021-03-10,2021-06-18,20006.0,275,29.0,...,4.04,61.0,9.50,NaN,7.2,1,0,0,1,0

In [53]:
df_first_normal4.shape

(41743, 24)

In [54]:
#调整列顺序
original_indices = list(range(len(df_first_normal4.columns)))
original_indices.remove(20)
original_indices.remove(21)
original_indices.remove(22)
original_indices.remove(23)
new_indices = original_indices[:9]+ [20] + [21]+[22]+[23]+ original_indices[9:]
df_first_normal5 = df_first_normal4.iloc[:, new_indices]
df_first_normal5.rename(columns={df_first_normal5.columns[5]: 'target_Hb_date'}, inplace=True)
print(df_first_normal5.columns)
print(df_first_normal5.shape)

Index(['user_id', 'type_no_class', 'T0', 'T1', 'first_Hb_date',
       'target_Hb_date', 'last_Hb_date', 'hosp_id_base', 'drug_valid_time',
       'cumi_flag', 'jia_flag', 'tang_flag', 'TZD_flag', 'age_base',
       'diabetic_duration_base', 'dbp_base', 'bmi_v1_base', 'ALT_base',
       'LDL_c_base', 'Cr_base', 'FPG_base', 'CP0_base', 'HbA1c_base',
       'normal_Hb_flag'],
      dtype='object')
(41743, 24)

In [55]:
df_first_normal5.drop_duplicates(subset=['user_id', 'type_no_class', 'first_Hb_date', 'target_Hb_date'],keep='first',inplace=True)
print(df_first_normal5.shape)

(41505, 24)

In [56]:
df_first_normal5.to_csv(os.path.join(datapath, 'df_first_normal_other.csv'), index=False)

In [58]:
def get_three_to_fifteen_month_HbA1c(df1, df):
    df=df.copy()
    df['T0'] = pd.to_datetime(df['T0'], errors='coerce')
    df1['visit_at'] = pd.to_datetime(df1['visit_at'], errors='coerce')
    df['first_Hb_date'] = pd.to_datetime(df['first_Hb_date'], errors='coerce')
    df['last_Hb_date'] = pd.to_datetime(df['last_Hb_date'], errors='coerce')

    df.loc[:, 'xx_month_Hb_flag'] = 0  # 是否找不到访视(没有有3~15月的)
    df.loc[:, 'xx_month_Hb_date'] = None  # 目标访视日期
    df.loc[:, 'drug_regression_time'] = None  # 药物终点总天数
    last_columns = df1.columns[-1:]
    expanded_rows = []

    for _, row in df.iterrows():
        user_visits = df1[df1['user_id'] == row['user_id']]
        three_months_after_first = row['first_Hb_date'] + pd.Timedelta(days=90)
        twelve_months_after_first = row['first_Hb_date'] + pd.Timedelta(days=457)
        valid_visits = user_visits[(user_visits['visit_at'] >= three_months_after_first) 
                                   & (user_visits['visit_at'] <= twelve_months_after_first) 
                                   &( user_visits['visit_at'] <=row['last_Hb_date'])]


        if valid_visits.empty:
            row['xx_month_Hb_flag'] = 0
            expanded_rows.append(row)
        else:
            for _, visit in valid_visits.iterrows():
                new_row = row.copy()
                new_row['xx_month_Hb_flag'] = 1
                new_row['xx_month_Hb_date'] = visit['visit_at'].date()
                new_row['drug_regression_time'] = (visit['visit_at'] - row['T0']).days
                # 增加目标访视数据
                for col in last_columns:
                    new_row[col + '_xx_month'] = visit[col]
                expanded_rows.append(new_row)

    # 将expanded_rows列表转换为DataFrame
    expanded_df = pd.DataFrame(expanded_rows)

    return expanded_df.reset_index(drop=True)

In [59]:
df3_4=get_three_to_fifteen_month_HbA1c(df1_merged,df3_3)
print(df3_3.shape)
print(df3_4.shape)
print(df3_4.columns)
df3_4['xx_month_Hb_flag'].value_counts()#找不到访视的，上一轮已经踢掉了
df3_5 = df3_4[(df3_4['xx_month_Hb_flag'] == 1) ]

(41743, 20)
(74088, 24)
Index(['user_id', 'type_no_class', 'T0', 'T1', 'first_Hb_date',
       'target_Hb_date', 'last_Hb_date', 'hosp_id_base', 'drug_valid_time',
       'age_base', 'diabetic_duration_base', 'dbp_base', 'bmi_v1_base',
       'ALT_base', 'LDL_c_base', 'Cr_base', 'FPG_base', 'CP0_base',
       'HbA1c_base', 'normal_Hb_flag', 'xx_month_Hb_flag', 'xx_month_Hb_date',
       'drug_regression_time', 'HbA1c_xx_month'],
      dtype='object')

In [60]:
df3_5.drop_duplicates(subset=['user_id', 'type_no_class', 'first_Hb_date', 'xx_month_Hb_date'],keep='first',inplace=True)
print(df3_5.shape)
df3_5.head()

(42881, 24)

,user_id,type_no_class,T0,T1,first_Hb_date,target_Hb_date,last_Hb_date,hosp_id_base,drug_valid_time,age_base,...,LDL_c_base,Cr_base,FPG_base,CP0_base,HbA1c_base,normal_Hb_flag,xx_month_Hb_flag,xx_month_Hb_date,drug_regression_time,HbA1c_xx_month
0,10238.0,1.0,2020-01-10,2020-05-17,2019-10-24,2020-07-24,2020-07-24,20006.0,196,58.0,...,1.40,98.0,12.38,1.97,7.1,0,1,2020-07-24,196,7.8
1,902628.0,2.0,2018-12-24,2023-09-01,2018-12-17,2019-03-26,2022-08-23,20006.0,92,43.0,...,3.58,67.0,15.25,2.08,9.8,1,1,2019-03-26,92,6.8
2,902628.0,2.0,2018-12-24,2023-09-01,2018-12-17,2019-03-26,2022-08-23,20006.0,92,43.0,...,3.58,67.0,15.25,2.08,9.8,1,1,2019-06-25,183,8.2
5,985157.0,1.0,2019-05-11,2019-08-13,2019-05-07,2019-08-13,2019-08-13,20006.0,94,56.0,...,3.55,62.0,6.72,NaN,8.0,0,1,2019-08-13,94,7.7
6,985248.0,1.0,2016-10-31,2017-02-17,2016-10-31,2017-02-17,2017-02-17,20006.0,109,59.0,...,3.25,60.0,10.62,NaN,8.0,1,1,2017-02-17,109,6.2

In [61]:
#调整列顺序
original_indices = list(range(len(df3_5.columns)))
original_indices.remove(20)
original_indices.remove(21)
original_indices.remove(22)
new_indices = original_indices[:5]+[21]+[6] +[7]+[22]+ original_indices[9:19]+[23]
df3_6 = df3_5.iloc[:, new_indices]
df3_6.rename(columns={df3_6.columns[5]: 'target_Hb_date'}, inplace=True)
print(df3_6.columns)
print(df3_6.shape)

Index(['user_id', 'type_no_class', 'T0', 'T1', 'first_Hb_date',
       'target_Hb_date', 'last_Hb_date', 'hosp_id_base',
       'drug_regression_time', 'age_base', 'diabetic_duration_base',
       'dbp_base', 'bmi_v1_base', 'ALT_base', 'LDL_c_base', 'Cr_base',
       'FPG_base', 'CP0_base', 'HbA1c_base', 'HbA1c_xx_month'],
      dtype='object')
(42881, 20)

C:\Users\shijuan_125623147720\AppData\Local\Temp\1\ipykernel_10024\2846984645.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_6.rename(columns={df3_6.columns[5]: 'target_Hb_date'}, inplace=True)

In [62]:
df3_6.head()

,user_id,type_no_class,T0,T1,first_Hb_date,target_Hb_date,last_Hb_date,hosp_id_base,drug_regression_time,age_base,diabetic_duration_base,dbp_base,bmi_v1_base,ALT_base,LDL_c_base,Cr_base,FPG_base,CP0_base,HbA1c_base,HbA1c_xx_month
0,10238.0,1.0,2020-01-10,2020-05-17,2019-10-24,2020-07-24,2020-07-24,20006.0,196,58.0,178.0,NaN,NaN,35.0,1.40,98.0,12.38,1.97,7.1,7.8
1,902628.0,2.0,2018-12-24,2023-09-01,2018-12-17,2019-03-26,2022-08-23,20006.0,92,43.0,71.0,100.0,27.6,23.0,3.58,67.0,15.25,2.08,9.8,6.8
2,902628.0,2.0,2018-12-24,2023-09-01,2018-12-17,2019-06-25,2022-08-23,20006.0,183,43.0,71.0,100.0,27.6,23.0,3.58,67.0,15.25,2.08,9.8,8.2
5,985157.0,1.0,2019-05-11,2019-08-13,2019-05-07,2019-08-13,2019-08-13,20006.0,94,56.0,120.0,67.0,34.3,21.0,3.55,62.0,6.72,NaN,8.0,7.7
6,985248.0,1.0,2016-10-31,2017-02-17,2016-10-31,2017-02-17,2017-02-17,20006.0,109,59.0,81.0,75.0,30.3,64.0,3.25,60.0,10.62,NaN,8.0,6.2

In [63]:
# df3_6.to_csv(os.path.join(datapath, 'df_six_month_Hb.csv', index=False)
#注意，最后一列HbA1c_six_month是回归标记.索引6是医院编号，索引7-17是用药时长+10列特征
df3_6.to_csv(os.path.join(datapath, 'df_xx_month_Hb.csv'), index=False)

In [64]:
df3_6['type_no_class'].value_counts()

type_no_class
2.0    32950
1.0     9931
Name: count, dtype: int64

In [65]:
print('hosp_id:',df3_6['hosp_id_base'].nunique())

hosp_id: 260

In [66]:
df_xx_month_Hb=pd.read_csv(os.path.join(datapath, 'df_xx_month_Hb.csv'))
df_xx_month_Hb1 = check_overlap_with_df2_regression(df_xx_month_Hb, df_other_cumi,drug='cumi_flag',flag=other_label_type)
df_xx_month_Hb2= check_overlap_with_df2_regression(df_xx_month_Hb1, df_other_jia,drug='jia_flag',flag=other_label_type)
df_xx_month_Hb3 = check_overlap_with_df2_regression(df_xx_month_Hb2, df_other_tang,drug='tang_flag',flag=other_label_type)
df_xx_month_Hb4 = check_overlap_with_df2_regression(df_xx_month_Hb3, df_other_TZD,drug='TZD_flag',flag=other_label_type)

In [67]:
df_xx_month_Hb4.head(10)

,user_id,type_no_class,T0,T1,first_Hb_date,target_Hb_date,last_Hb_date,hosp_id_base,drug_regression_time,age_base,...,LDL_c_base,Cr_base,FPG_base,CP0_base,HbA1c_base,HbA1c_xx_month,cumi_flag,jia_flag,tang_flag,TZD_flag
0,10238.0,1.0,2020-01-10,2020-05-17,2019-10-24,2020-07-24,2020-07-24,20006.0,196,58.0,...,1.40,98.0,12.38,1.97,7.1,7.8,0,1,1,0
1,902628.0,2.0,2018-12-24,2023-09-01,2018-12-17,2019-03-26,2022-08-23,20006.0,92,43.0,...,3.58,67.0,15.25,2.08,9.8,6.8,1,1,1,0
2,902628.0,2.0,2018-12-24,2023-09-01,2018-12-17,2019-06-25,2022-08-23,20006.0,183,43.0,...,3.58,67.0,15.25,2.08,9.8,8.2,1,1,1,0
3,985157.0,1.0,2019-05-11,2019-08-13,2019-05-07,2019-08-13,2019-08-13,20006.0,94,56.0,...,3.55,62.0,6.72,NaN,8.0,7.7,0,1,1,0
4,985248.0,1.0,2016-10-31,2017-02-17,2016-10-31,2017-02-17,2017-02-17,20006.0,109,59.0,...,3.25,60.0,10.62,NaN,8.0,6.2,1,1,0,0
5,1025718.0,2.0,2021-07-01,2023-02-01,2021-04-14,2021-09-29,2023-04-06,20006.0,90,63.0,...,2.86,49.0,8.24,NaN,7.2,7.8,1,0,1,0
6,1025718.0,2.0,2021-07-01,2023-02-01,2021-04-14,2021-12-28,2023-04-06,20006.0,180,63.0,...,2.86,49.0,8.24,NaN,7.2,7.2,1,0,1,0
7,1046523.0,1.0,2020-06-08,2021-07-31,2020-06-08,2020-09-14,2021-06-18,20006.0,98,29.0,...,4.04,61.0,9.50,NaN,7.2,6.6,0,0,1,0
8,1046523.0,1.0,2020-06-08,2021-07-31,2020-06-08,2020-12-07,2021-06-18,20006.0,182,29.0,...,4.04,61.0,9.50,NaN,7.2,6.4,0,0,1,0
9,1046523.0,1.0,2020-06-08,2021-07-31,2020-06-08,2021-03-10,2021-06-18,20006.0,275,29.0,...,4.04,61.0,9.50,NaN,7.2,7.3,0,0,1,0

In [68]:
df_xx_month_Hb4.shape

(42881, 24)

In [69]:
#调整列顺序
original_indices = list(range(len(df_xx_month_Hb4.columns)))
original_indices.remove(20)
original_indices.remove(21)
original_indices.remove(22)
original_indices.remove(23)
new_indices = original_indices[:9]+ [20] + [21]+[22]+[23]+ original_indices[9:]
df_xx_month_Hb5 = df_xx_month_Hb4.iloc[:, new_indices]
df_xx_month_Hb5.rename(columns={df_xx_month_Hb5.columns[5]: 'target_Hb_date'}, inplace=True)
print(df_xx_month_Hb5.columns)
print(df_xx_month_Hb5.shape)

Index(['user_id', 'type_no_class', 'T0', 'T1', 'first_Hb_date',
       'target_Hb_date', 'last_Hb_date', 'hosp_id_base',
       'drug_regression_time', 'cumi_flag', 'jia_flag', 'tang_flag',
       'TZD_flag', 'age_base', 'diabetic_duration_base', 'dbp_base',
       'bmi_v1_base', 'ALT_base', 'LDL_c_base', 'Cr_base', 'FPG_base',
       'CP0_base', 'HbA1c_base', 'HbA1c_xx_month'],
      dtype='object')
(42881, 24)

In [70]:
df_xx_month_Hb5.to_csv(os.path.join(datapath, 'df_xx_month_Hb_other.csv'), index=False)

In [ ]:
#替换为清洗后的数据，用药时长拆分，填充缺失值，进一步删去最大值

In [15]:
def fillna_with_imp(df):
    df_fill=df.copy()
    # 定义需要填补的列
    columns_to_impute = ['age_base', 'diabetic_duration_base', 'dbp_base',
       'bmi_v1_base', 'ALT_base', 'LDL_c_base', 'Cr_base', 'FPG_base',
       'CP0_base', 'HbA1c_base']

    # 创建多重填补器实例
    imp = IterativeImputer(estimator=BayesianRidge(), max_iter=10, random_state=0, sample_posterior=True)

    # 只填补指定的列，保持索引
    df_imputed_sub = imp.fit_transform(df[columns_to_impute])
    df_imputed_sub = pd.DataFrame(df_imputed_sub, columns=columns_to_impute, index=df.index)  # 指定index参数
    
    # 将填补好的列合并回原始DataFrame
    df_fill[columns_to_impute] = df_imputed_sub
    return df_fill
def filter_max(df):
    df = df.copy()
    print("Initial shape:", df.shape)
    # filter_max_1 = df['dbp_base'] >= 40
    filter_max_2 = df['bmi_v1_base'] <= 60

    # 计算 ALT_base 的 0.1% 和 99.9% 百分位数
    lower_bound_ALT = df['ALT_base'].quantile(0.01)
    upper_bound_ALT = df['ALT_base'].quantile(0.99)
    df.loc[df['ALT_base'] < lower_bound_ALT, 'ALT_base'] = np.nan
    df.loc[df['ALT_base'] > upper_bound_ALT, 'ALT_base'] = np.nan
    print("bound of ALT:", lower_bound_ALT, upper_bound_ALT)

    # upper_bound_Cr = df['Cr_base'].quantile(0.99)
    # df.loc[df['Cr_base'] > upper_bound_Cr, 'Cr_base'] = np.nan
    # print("Upper bound of Cr:", upper_bound_Cr)
    df.loc[df['dbp_base'] < 40, 'dbp_base'] = np.nan
    
    filter_max_6 = df['FPG_base'] <= 40

    upper_bound_CP0 = df['CP0_base'].quantile(0.999)
    df.loc[df['CP0_base'] > upper_bound_CP0, 'CP0_base'] = np.nan
    print("Upper bound of CP0:", upper_bound_CP0)

    filter_max_8 = df['HbA1c_base'] <= 13.13

    filter_lst = [ filter_max_2,filter_max_8, filter_max_6]

    for i, filter_criteria in enumerate(filter_lst):
        df = df[filter_criteria]
        print( df.shape[0], end=' ')

    print()
    return df
def get_v1(df1, df):
    df=df.copy()
    df1['visit_at'] = pd.to_datetime(df1['visit_at'], errors='coerce')
    df['first_Hb_date'] = pd.to_datetime(df['first_Hb_date'], errors='coerce')
    df['target_Hb_date'] = pd.to_datetime(df['target_Hb_date'], errors='coerce')
    def calculate_and_update_group(group):
        user_visits = df1[df1['user_id'] == group.name]
        for index, row in group.iterrows():
            target_visit = user_visits[user_visits['visit_at'] == row['first_Hb_date']].iloc[0]
            group.at[index, 'visit_level'] = target_visit['visit_level']

        return group
    df2 = df.groupby('user_id').apply(calculate_and_update_group)
    #删除index
    df2.reset_index(drop=True, inplace=True)
    return df2

In [12]:
#计算交替使用药物的情况，并且对于交替使用三次及三次以上的，只保留其首次访视数据
def count_alternations(df):
    df=df.copy()
    df.loc[:, 'type_no_class'] = pd.to_numeric(df['type_no_class'], errors='coerce')
    df.loc[:, 'target_Hb_date'] = pd.to_datetime(df['target_Hb_date'], errors='coerce')
    alternation_counts = []
    users_to_clean = []
    
    # Step 1: Calculate alternations for each user_id
    for user_id, user_data in df.groupby('user_id'):
        sorted_data = user_data.sort_values(by='target_Hb_date')
        type_sequence = sorted_data['type_no_class'].tolist()
        
        alternation_count = 1
        for i in range(1, len(type_sequence)):
            if type_sequence[i] != type_sequence[i-1]:
                alternation_count += 1
        
        # Step 2: Store user_ids where alternation_count > 2
        if alternation_count > 2:
            users_to_clean.append(user_id)
        
        alternation_counts.append(alternation_count)
    
    # Step 3: Clean data - Keep only the row with the minimum target_Hb_date for user_id with alternation count > 2
    cleaned_df = df[~df['user_id'].isin(users_to_clean)]  # Keep alternation_count <= 2 intact
    for user_id in users_to_clean:
        user_data = df[df['user_id'] == user_id].sort_values(by='target_Hb_date').head(1)  # Keep only the earliest row
        cleaned_df = pd.concat([cleaned_df, user_data], ignore_index=True)
    
    # Step 4: Recalculate alternation counts for cleaned data
    final_alternation_counts = []
    type_1_count = 0
    type_2_count = 0
    
    for user_id, user_data in cleaned_df.groupby('user_id'):
        sorted_data = user_data.sort_values(by='target_Hb_date')
        type_sequence = sorted_data['type_no_class'].tolist()
        
        # Recalculate alternation_count for cleaned data
        alternation_count = 1
        for i in range(1, len(type_sequence)):
            if type_sequence[i] != type_sequence[i-1]:
                alternation_count += 1
        
        # Count type_no_class = 1 and 2 occurrences for alternation_count = 1
        if alternation_count == 1:
            if type_sequence[0] == 1:
                type_1_count += 1
            elif type_sequence[0] == 2:
                type_2_count += 1
        
        final_alternation_counts.append(alternation_count)
    
    # Step 5: Return the frequency of alternation counts and the counts of type_no_class = 1 and 2
    alternation_count_frequency = pd.Series(final_alternation_counts).value_counts().reset_index().values.tolist()
    
   
    
    print(alternation_count_frequency)#, type_1_count, type_2_count
    return cleaned_df

In [8]:
#数据替换
df1_merged=pd.read_csv(os.path.join(datapath, 'df1_merged.csv'))
df_first_normal_other=pd.read_csv(os.path.join(datapath, 'df_first_normal_other.csv'))
df_final_clean=pd.read_csv(os.path.join(datapath, 'df_final_clean.csv'))
print(df_final_clean.shape)
df_first_normal_other_v1=get_v1(df1_merged,df_first_normal_other)
df_first_normal_other_v1.shape

(43636, 12)

(41505, 25)

In [9]:
#数据替换
df_first_normal_other_updated = pd.merge(df_first_normal_other_v1, df_final_clean,on=['user_id', 'visit_level'],how='inner', suffixes=('', '_new'))
columns_to_impute = ['age_base', 'diabetic_duration_base', 'dbp_base',
       'bmi_v1_base', 'ALT_base', 'LDL_c_base', 'Cr_base', 'FPG_base','CP0_base', 'HbA1c_base']
# 更新 columns_to_impute 指定的列
for col in columns_to_impute:
    df_first_normal_other_updated[col] = df_first_normal_other_updated[col + '_new']
    df_first_normal_other_updated.drop(col + '_new', axis=1, inplace=True)
print(df_first_normal_other_updated.shape)
df_first_normal_other_updated.drop_duplicates( keep='first',inplace=True)
print(df_first_normal_other_updated.shape)

df_first_normal_other_updated.drop(df_first_normal_other_updated.columns[-1:], axis=1, inplace=True)

#去除与验证数据医院重复的患者
df_val_visit=pd.read_csv(os.path.join(datapath, 'df_val_visit.csv'))
hosp_id_set = set(df_val_visit['hosp_id'])
df_first_normal_other_updated_hosp_cleaned = df_first_normal_other_updated[~df_first_normal_other_updated['hosp_id_base'].isin(hosp_id_set)]
print(df_first_normal_other_updated_hosp_cleaned.shape)
print('user_id:',df_first_normal_other_updated_hosp_cleaned['user_id'].nunique())

#去除超过3次交替使用药物患者的非首次访视
df_first_normal_other_final=count_alternations(df_first_normal_other_updated_hosp_cleaned)
print(df_first_normal_other_final.shape,', user_id:',df_first_normal_other_final['user_id'].nunique())
df_first_normal_other_final.to_csv(os.path.join(datapath, 'df_first_normal_final.csv'), index=False)

(68522, 25)
(39667, 25)
(37094, 24)
user_id: 25870
[[1, 25446], [2, 424]]
(37047, 24) , user_id: 25870

In [22]:
#人数统计
df_first_normal_other=pd.read_csv(os.path.join(datapath, 'df_first_normal_final.csv'))
df_first_normal_other_delete=df_first_normal_other[df_first_normal_other['HbA1c_base']> 13.13].copy()
df_first_normal_other_copy=df_first_normal_other[df_first_normal_other['HbA1c_base']<= 13.13].copy()
count_user_id(df_first_normal_other_delete)
count_user_id(df_first_normal_other_copy)
df_first_normal_other_copy=fillna_with_imp(df_first_normal_other_copy)
df_first_normal_other_copy=filter_max(df_first_normal_other_copy)
df_first_normal_other_copy=fillna_with_imp(df_first_normal_other_copy)
count_user_id(df_first_normal_other_copy)
df_first_normal_other_copy['type_no_class'].value_counts()

user_id: 1573
343
1233
user_id: 24325
5823
18906
Initial shape: (34950, 24)
bound of ALT: 7.0 150.3
Upper bound of CP0: 10.945661000000749
34949 34949 34947

C:\Users\shijuan_125623147720\AppData\Local\Temp\1\ipykernel_5788\1911119515.py:47: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[filter_criteria]
C:\Users\shijuan_125623147720\AppData\Local\Temp\1\ipykernel_5788\1911119515.py:47: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[filter_criteria]

user_id: 24322
5823
18903

type_no_class
2.0    27117
1.0     7830
Name: count, dtype: int64

In [23]:
#按用药时长拆分
df_first_normal_other_final=pd.read_csv(os.path.join(datapath, 'df_first_normal_final.csv'))

df_6_valid1=df_first_normal_other_final[df_first_normal_other_final['drug_valid_time']<=213] 
df_6_valid=df_6_valid1[df_6_valid1['drug_valid_time']<=213]
df_12_valid=df_first_normal_other_final[df_first_normal_other_final['drug_valid_time']>213]
print(df_6_valid['type_no_class'].value_counts())
print(df_12_valid['type_no_class'].value_counts())
#填充缺失值
# df_3_valid_fill=fillna_with_imp(df_3_valid)
df_6_valid_fill=fillna_with_imp(df_6_valid)
df_12_valid_fill=fillna_with_imp(df_12_valid)
#删除异常最大值
# df_3_valid_fill=filter_max(df_3_valid_fill)
df_6_valid_fill=filter_max(df_6_valid_fill)
df_12_valid_fill=filter_max(df_12_valid_fill)
#填充缺失值
# df_3_valid_fill=fillna_with_imp(df_3_valid_fill)
df_6_valid_fill=fillna_with_imp(df_6_valid_fill)
df_12_valid_fill=fillna_with_imp(df_12_valid_fill)
count_user_id(df_6_valid_fill)
count_user_id(df_12_valid_fill)
print(df_6_valid_fill['type_no_class'].value_counts())
print(df_12_valid_fill['type_no_class'].value_counts())
# df_3_valid_fill.to_csv(os.path.join(datapath, 'df_3_valid.csv'), index=False)
df_6_valid_fill.to_csv(os.path.join(datapath, 'df_6_valid.csv'), index=False)
df_12_valid_fill.to_csv(os.path.join(datapath, 'df_12_valid.csv'), index=False)
df_6_valid_fill.iloc[:,-16:].describe()

type_no_class
2.0    14421
1.0     4371
Name: count, dtype: int64
type_no_class
2.0    14342
1.0     3913
Name: count, dtype: int64
Initial shape: (18792, 24)
bound of ALT: 7.0 151.0
Upper bound of CP0: 10.884630000000179
18791 17639 17637
Initial shape: (18255, 24)
bound of ALT: 7.0 148.0
Upper bound of CP0: 10.795174000000054
18255 17310 17310

C:\Users\shijuan_125623147720\AppData\Local\Temp\1\ipykernel_5788\1911119515.py:47: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[filter_criteria]
C:\Users\shijuan_125623147720\AppData\Local\Temp\1\ipykernel_5788\1911119515.py:47: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[filter_criteria]
C:\Users\shijuan_125623147720\AppData\Local\Temp\1\ipykernel_5788\1911119515.py:47: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[filter_criteria]

user_id: 16129
3848
12463
user_id: 14421
3173
11406
type_no_class
2.0    13527
1.0     4110
Name: count, dtype: int64
type_no_class
2.0    13590
1.0     3720
Name: count, dtype: int64

,drug_valid_time,cumi_flag,jia_flag,tang_flag,TZD_flag,age_base,diabetic_duration_base,dbp_base,bmi_v1_base,ALT_base,LDL_c_base,Cr_base,FPG_base,CP0_base,HbA1c_base,normal_Hb_flag
count,17637.00000,17637.000000,17637.000000,17637.000000,17637.000000,17637.000000,17637.000000,17637.000000,17637.000000,17637.000000,17637.000000,17637.000000,17637.000000,17637.000000,17637.000000,17637.000000
mean,152.62023,0.231162,0.776946,0.338493,0.114759,53.449680,86.254078,79.644195,26.875386,31.678669,2.934670,66.856500,9.447168,2.196034,9.288395,0.448262
std,35.70469,0.421588,0.416306,0.473210,0.318740,11.604585,84.619062,11.078131,3.725740,22.419056,0.985151,20.417496,3.357879,1.314574,1.621009,0.497330
min,90.00000,0.000000,0.000000,0.000000,0.000000,19.000000,-164.237668,41.000000,14.200000,-36.413779,0.120000,13.000000,0.420164,-1.741770,7.000000,0.000000
25%,121.00000,0.000000,1.000000,0.000000,0.000000,46.000000,7.000000,72.000000,24.400000,17.000000,2.240000,53.000000,7.150000,1.270000,7.900000,0.000000
50%,157.00000,0.000000,1.000000,0.000000,0.000000,55.000000,66.000000,79.000000,26.500000,25.000000,2.890000,64.000000,8.780000,1.990000,9.000000,0.000000
75%,182.00000,0.000000,1.000000,1.000000,0.000000,62.000000,135.000000,87.000000,28.900000,38.000000,3.550000,76.100000,11.090000,2.870000,10.500000,1.000000
max,213.00000,1.000000,1.000000,1.000000,1.000000,87.000000,519.000000,159.000000,57.900000,151.000000,10.580000,210.500000,40.000000,10.870000,13.100000,1.000000

In [9]:
#数据统计出表模块,缺失值填充后，按分类模型的来
# df_first_normal_other_updated=pd.read_csv(os.path.join(datapath, 'df_first_normal_final.csv'))
# df_first_normal_other_updated.drop(df_first_normal_other_updated.columns[-1:], axis=1, inplace=True)
# df_6_valid1=df_first_normal_other_updated[df_first_normal_other_updated['drug_valid_time']<=213] 
# df_6_valid=df_6_valid1[df_6_valid1['drug_valid_time']<=213]
# df_12_valid=df_first_normal_other_updated[df_first_normal_other_updated['drug_valid_time']>213]


# df_6_regression=pd.read_csv(os.path.join(datapath, 'df_6_regression.csv'))
# df_12_regression=pd.read_csv(os.path.join(datapath, 'df_12_regression.csv'))
df_6_valid=pd.read_csv(os.path.join(datapath, 'df_6_valid.csv'))
df_12_valid=pd.read_csv(os.path.join(datapath, 'df_12_valid.csv'))
df_6_regression=pd.read_csv(os.path.join(datapath, 'df_6_regression.csv'))
df_12_regression=pd.read_csv(os.path.join(datapath, 'df_12_regression.csv'))
df_valid = pd.concat([df_6_valid, df_12_valid], axis=0)
df_regression = pd.concat([df_6_regression, df_12_regression], axis=0)
print(df_6_valid.shape,df_12_valid.shape,df_valid.shape)

(17637, 24) (17310, 24) (34947, 24)

In [3]:
#数据统计出表模块,缺失值填充前，按分类模型的来
df_valid=pd.read_csv(os.path.join(datapath, 'df_first_normal_other.csv'))
# df_valid.drop(df_valid.columns[-1:], axis=1, inplace=True)
# df_3_valid=df_valid[df_valid['drug_valid_time']<=123]
# df_6_valid1=df_valid[df_valid['drug_valid_time']<=270] 
# df_6_valid=df_6_valid1[df_6_valid1['drug_valid_time']>123]
# df_12_valid=df_valid[df_valid['drug_valid_time']>270]

# #删除异常最大值
# df_3_valid_fill=filter_max(df_3_valid)
# df_6_valid_fill=filter_max(df_6_valid)
# df_12_valid_fill=filter_max(df_12_valid)
# df_valid_fill = pd.concat([df_3_valid_fill, df_6_valid_fill, df_12_valid_fill], axis=0)
# print(df_3_valid_fill.shape)
# print(df_6_valid_fill.shape)
# print(df_12_valid_fill.shape)
# print(df_valid_fill.shape)
# df_valid_fill.head()
print(df_valid.shape)

(41505, 24)

In [10]:
df_valid = pd.concat([df_6_valid, df_12_valid], axis=0)
df_regression = pd.concat([df_6_regression, df_12_regression], axis=0)
print(df_6_valid.shape,df_12_valid.shape,df_valid.shape)
print(df_6_regression.shape,df_12_regression.shape,df_regression.shape)
df_valid.head()

(17637, 24) (17310, 24) (34947, 24)
(17796, 24) (17307, 24) (35103, 24)

,user_id,type_no_class,T0,T1,first_Hb_date,target_Hb_date,last_Hb_date,hosp_id_base,drug_valid_time,cumi_flag,...,diabetic_duration_base,dbp_base,bmi_v1_base,ALT_base,LDL_c_base,Cr_base,FPG_base,CP0_base,HbA1c_base,normal_Hb_flag
0,10238.0,1.0,2020-01-10,2020-05-17,2019-10-24,2020-07-24,2020-07-24,20006.0,196,0,...,177.0,67.794512,29.540316,35.0,1.40,98.0,12.38,1.970000,7.1,0
1,902628.0,2.0,2018-12-24,2023-09-01,2018-12-17,2019-03-26,2022-08-23,20006.0,92,1,...,71.0,100.000000,27.600000,23.0,3.58,67.0,15.25,2.080000,9.8,1
2,902628.0,2.0,2018-12-24,2023-09-01,2018-12-17,2019-06-25,2022-08-23,20006.0,183,1,...,71.0,100.000000,27.600000,23.0,3.58,67.0,15.25,2.080000,9.8,1
3,985157.0,1.0,2019-05-11,2019-08-13,2019-05-07,2019-08-13,2019-08-13,20006.0,94,0,...,120.0,67.000000,34.300000,21.0,3.55,62.0,6.72,1.318246,8.0,0
4,985248.0,1.0,2016-10-31,2017-02-17,2016-10-31,2017-02-17,2017-02-17,20006.0,109,1,...,81.0,75.000000,30.300000,64.0,3.25,60.0,10.62,-0.132678,8.0,1

In [11]:
#添加结局糖化和BMI
df1_merged=pd.read_csv(os.path.join(datapath, 'df1_merged.csv'))
df1_merged_copy=df1_merged.copy()
df1_merged_copy['visit_at'] = pd.to_datetime(df1_merged_copy['visit_at']).dt.date
df1_merged_copy['user_id'] = df1_merged_copy['user_id'].astype(float)
# df1_merged_copy.loc[:, 'visit_at'] = pd.to_datetime(df1_merged_copy['visit_at'], errors='coerce')
df1_merged_copy.rename(columns={'visit_at': 'target_Hb_date'}, inplace=True)
# print(df1_merged_copy[df1_merged_copy['user_id']==1264655.0])
df1_merged_copy.head()

,user_id,visit_level,target_Hb_date,hosp_id,age,diabetic_duration,sbp,dbp,bmi_v1,vat,ALT,LDL_c,Cr,UACR,eGFR_EPI,FPG,CP0,HbA1c
0,10238.0,1,2018-07-02,20006.0,58,162.0,115.0,80.0,26.6,109.8,34.0,1.66,92.0,1.40,78.7225,6.69,0.80,8.5
1,10238.0,3,2018-10-11,20006.0,58,165.0,120.0,77.0,26.4,NaN,35.0,1.57,87.0,NaN,84.2247,11.12,NaN,8.2
2,10238.0,6,2019-05-31,20006.0,58,173.0,118.0,79.0,26.6,118.7,27.0,1.17,99.0,1.08,71.5393,13.78,1.28,9.3
3,10238.0,7,2019-10-24,20006.0,58,178.0,NaN,NaN,NaN,NaN,35.0,1.40,98.0,4.53,72.4228,12.38,1.97,7.1
4,10238.0,10,2020-07-24,20006.0,58,187.0,132.0,89.0,24.6,103.9,17.0,1.55,105.0,1.12,66.1605,9.56,1.82,7.8

In [12]:
#从df2_first_statistics中补充'sex_base', 'eGFR_EPI_base'
def merge_columns(df1, df2, keys=['user_id', 'type_no_class', 'first_Hb_date'], columns_to_add=['sex_base', 'eGFR_EPI_base']):
    # 使用merge函数根据A, B, C列匹配，将df2中的M, N列补充到df1中
    df1=df1.copy()
    df2=df2.copy()
    # 确保匹配列的数据类型一致
    for key in keys:
        df1[key] = df1[key].astype(str).str.strip()
        df2[key] = df2[key].astype(str).str.strip()
# 去除 df2 中在 keys 列组合上的重复值，保留第一个出现的
    df2_unique = df2.drop_duplicates(subset=keys)

    # 使用merge函数根据A, B, C列匹配，将df2中的M, N列补充到df1中
    df1_updated = pd.merge(df1, df2_unique[keys + columns_to_add], on=keys, how='left')


    return df1_updated

In [13]:
#临时，输出数据
df_6_valid1 = merge_columns(df_6_valid, df1_merged_copy, keys=['user_id', 'target_Hb_date'], columns_to_add=['bmi_v1', 'HbA1c'])
df_6_valid1['diabetic_duration_base'] = df_6_valid1['diabetic_duration_base'] / 12
df_6_valid1.rename(columns={'bmi_v1': 'bmi_end','HbA1c': 'HbA1c_end'}, inplace=True)
print(df_6_valid1.shape)
print(df_6_valid1[ 'bmi_end'].isnull().sum())
df_6_valid1.to_csv(os.path.join(datapath, 'df_6_valid_all_information.csv'), index=False)
df_6_valid1.head()

df_12_valid1 = merge_columns(df_12_valid, df1_merged_copy, keys=['user_id', 'target_Hb_date'], columns_to_add=['bmi_v1', 'HbA1c'])
df_12_valid1['diabetic_duration_base'] = df_12_valid1['diabetic_duration_base'] / 12
df_12_valid1.rename(columns={'bmi_v1': 'bmi_end','HbA1c': 'HbA1c_end'}, inplace=True)
print(df_12_valid1.shape)
print(df_12_valid1[ 'bmi_end'].isnull().sum())
df_12_valid1.to_csv(os.path.join(datapath, 'df_12_valid_all_information.csv'), index=False)
df_12_valid1.head()

(17637, 26)
4150
(17310, 26)
4744

,user_id,type_no_class,T0,T1,first_Hb_date,target_Hb_date,last_Hb_date,hosp_id_base,drug_valid_time,cumi_flag,...,bmi_v1_base,ALT_base,LDL_c_base,Cr_base,FPG_base,CP0_base,HbA1c_base,normal_Hb_flag,bmi_end,HbA1c_end
0,1046523.0,1.0,2020-06-08,2021-07-31,2020-06-08,2021-03-10,2021-06-18,20006.0,275,0,...,33.7,27.0,4.04,61.0,9.500000,5.091858,7.2,1,33.5,7.3
1,1046523.0,1.0,2020-06-08,2021-07-31,2020-06-08,2021-06-18,2021-06-18,20006.0,375,0,...,33.7,27.0,4.04,61.0,9.500000,5.146541,7.2,1,NaN,6.2
2,1046523.0,2.0,2018-07-17,2020-06-08,2018-07-17,2019-04-22,2020-06-08,20006.0,279,0,...,33.9,37.0,4.03,59.0,9.231617,5.095387,7.3,1,33.3,6.3
3,1046523.0,2.0,2018-07-17,2020-06-08,2018-07-17,2019-07-23,2020-06-08,20006.0,371,0,...,33.9,37.0,4.03,59.0,11.620691,3.323424,7.3,1,33.5,6.5
4,1064020.0,2.0,2020-07-03,2023-09-01,2020-07-02,2021-02-03,2023-06-13,20006.0,215,0,...,27.5,14.0,4.30,80.0,7.980000,5.676275,7.2,0,27.9,7.3

In [5]:


# 使用方法
df2_first_statistics=pd.read_csv(os.path.join(datapath, 'df2_first_statistics.csv'))
df_valid1 = merge_columns(df_valid, df2_first_statistics)
df_valid1['diabetic_duration_base'] = df_valid1['diabetic_duration_base'] / 12
print(df_valid1.shape)
print('user_id:',df_valid1['user_id'].nunique())
df_valid1.head()

df_6_valid1 = merge_columns(df_6_valid, df2_first_statistics)
df_6_valid1['diabetic_duration_base'] = df_6_valid1['diabetic_duration_base'] / 12
print(df_6_valid1.shape)
print('user_id:',df_6_valid1['user_id'].nunique())
df_6_valid1.head()

df_12_valid1 = merge_columns(df_12_valid, df2_first_statistics)
df_12_valid1['diabetic_duration_base'] = df_12_valid1['diabetic_duration_base'] / 12
print(df_12_valid1.shape)
print('user_id:',df_12_valid1['user_id'].nunique())
df_12_valid1.head()

(37047, 25)
user_id: 25870
(18792, 25)
user_id: 17207
(18255, 25)
user_id: 15239

,user_id,type_no_class,T0,T1,first_Hb_date,target_Hb_date,last_Hb_date,hosp_id_base,drug_valid_time,cumi_flag,...,dbp_base,bmi_v1_base,ALT_base,LDL_c_base,Cr_base,FPG_base,CP0_base,HbA1c_base,sex_base,eGFR_EPI_base
0,1046523.0,1.0,2020-06-08,2021-07-31,2020-06-08,2021-03-10,2021-06-18,20006.0,275,0,...,79.0,33.7,27.0,4.04,61.0,9.50,NaN,7.2,2.0,114.38
1,1046523.0,1.0,2020-06-08,2021-07-31,2020-06-08,2021-06-18,2021-06-18,20006.0,375,0,...,79.0,33.7,27.0,4.04,61.0,9.50,NaN,7.2,2.0,114.38
2,1046523.0,2.0,2018-07-17,2020-06-08,2018-07-17,2019-04-22,2020-06-08,20006.0,279,0,...,82.0,33.9,37.0,4.03,59.0,NaN,NaN,7.3,2.0,117.28
3,1046523.0,2.0,2018-07-17,2020-06-08,2018-07-17,2019-07-23,2020-06-08,20006.0,371,0,...,82.0,33.9,37.0,4.03,59.0,NaN,NaN,7.3,2.0,117.28
4,1064020.0,2.0,2020-07-03,2023-09-01,2020-07-02,2021-02-03,2023-06-13,20006.0,215,0,...,76.0,27.5,14.0,4.30,80.0,7.98,NaN,7.2,1.0,95.87

In [9]:
#统计hosp_id刨除验证数据中医院后的情况
df_val_visit=pd.read_csv(os.path.join(datapath, 'df_val_visit.csv'))
hosp_id_set = set(df_val_visit['hosp_id'])
df_valid1_hosp_cleaned = df_valid1[~df_valid1['hosp_id_base'].isin(hosp_id_set)]
print(df_valid1_hosp_cleaned.shape)
print('user_id:',df_valid1_hosp_cleaned['user_id'].nunique())

(37047, 25)
user_id: 25870

In [10]:
#统计每个user_id的出现情况
def count_type_no_class(df):
    df=df.copy()
    df.loc[:, 'type_no_class'] = pd.to_numeric(df['type_no_class'], errors='coerce')
    result = df.groupby(['user_id', 'type_no_class']).size().unstack(fill_value=0)
    
    # Ensure that both type_no_class = 1 and type_no_class = 2 are present for all user_id
    if 1 not in result.columns:
        result[1] = 0
    if 2 not in result.columns:
        result[2] = 0

    result = result[[1, 2]]  # Keep only type_no_class=1 and type_no_class=2 columns
    
    # Create a list of tuples for each user_id
    count_combinations = result.values.tolist()
    
    # Count occurrences of each unique combination
    count_combination_frequency = pd.Series([tuple(row) for row in count_combinations]).value_counts().reset_index().values.tolist()

    return count_combination_frequency
df_valid1_count=count_type_no_class(df_valid1)
df_valid1_count

[[(0, 1), 13181],
 [(0, 2), 5059],
 [(1, 0), 4203],
 [(2, 0), 1206],
 [(0, 3), 1116],
 [(0, 4), 289],
 [(3, 0), 276],
 [(1, 1), 197],
 [(1, 2), 69],
 [(2, 1), 57],
 [(0, 5), 48],
 [(4, 0), 45],
 [(1, 3), 23],
 [(2, 2), 23],
 [(3, 2), 13],
 [(3, 1), 12],
 [(2, 3), 10],
 [(0, 6), 9],
 [(5, 0), 8],
 [(4, 1), 4],
 [(3, 3), 4],
 [(1, 4), 3],
 [(4, 3), 3],
 [(6, 0), 2],
 [(0, 7), 2],
 [(4, 2), 1],
 [(7, 1), 1],
 [(0, 9), 1],
 [(2, 4), 1],
 [(1, 9), 1],
 [(3, 6), 1],
 [(0, 8), 1],
 [(5, 1), 1]]

In [8]:


# df_valid1_count

[[1, 25446], [2, 424]]
(37047, 26) , user_id: 25870

In [18]:
df_valid1_count.head()

,user_id,type_no_class,T0,T1,first_Hb_date,target_Hb_date,last_Hb_date,hosp_id_base,drug_valid_time,cumi_flag,...,bmi_v1_base,ALT_base,LDL_c_base,Cr_base,FPG_base,CP0_base,HbA1c_base,normal_Hb_flag,sex_base,eGFR_EPI_base
0,10238.0,1.0,2020-01-10,2020-05-17,2019-10-24,2020-07-24 00:00:00,2020-07-24,20006.0,196,0,...,NaN,35.0,1.40,98.0,12.38,1.97,7.1,0,1.0,72.42
1,902628.0,2.0,2018-12-24,2023-09-01,2018-12-17,2019-03-26 00:00:00,2022-08-23,20006.0,92,1,...,27.6,23.0,3.58,67.0,15.25,2.08,9.8,1,1.0,109.54
2,902628.0,2.0,2018-12-24,2023-09-01,2018-12-17,2019-06-25 00:00:00,2022-08-23,20006.0,183,1,...,27.6,23.0,3.58,67.0,15.25,2.08,9.8,1,1.0,109.54
3,985157.0,1.0,2019-05-11,2019-08-13,2019-05-07,2019-08-13 00:00:00,2019-08-13,20006.0,94,0,...,34.3,21.0,3.55,62.0,6.72,NaN,8.0,0,2.0,94.64
4,985248.0,1.0,2016-10-31,2017-02-17,2016-10-31,2017-02-17 00:00:00,2017-02-17,20006.0,109,1,...,30.3,64.0,3.25,60.0,10.62,NaN,8.0,1,2.0,95.81

In [22]:
#在所有行里面统计drug_valid_time大于213和小于等于213的里面，分别有多少条数据对应了type_no_class=1、多少个对应了type_no_class=2
def count_drug_valid_time_type_no_class(df):
    df=df.copy()
    df.loc[:, 'target_Hb_date'] = pd.to_datetime(df['target_Hb_date'], errors='coerce')
    #按访视条数统计
    # Filter rows where drug_valid_time is greater than 213
    greater_than_213 = df[df['drug_valid_time'] > 213]
    # Filter rows where drug_valid_time is less than or equal to 213
    less_equal_213 = df[df['drug_valid_time'] <= 213]
    
    # Count type_no_class = 1 and type_no_class = 2 for each group
    greater_213_type_1_count = greater_than_213[greater_than_213['type_no_class'] == 1].shape[0]
    greater_213_type_2_count = greater_than_213[greater_than_213['type_no_class'] == 2].shape[0]
    
    less_equal_213_type_1_count = less_equal_213[less_equal_213['type_no_class'] == 1].shape[0]
    less_equal_213_type_2_count = less_equal_213[less_equal_213['type_no_class'] == 2].shape[0]
    
    print(greater_213_type_1_count, greater_213_type_2_count,less_equal_213_type_1_count, less_equal_213_type_2_count)
    
    
    #按患者人数统计
    greater_213_type_1 = 0
    greater_213_type_2 = 0
    less_equal_213_type_1 = 0
    less_equal_213_type_2 = 0
    
    # Step 1: Filter the data based on drug_valid_time first
    greater_213_df = df[df['drug_valid_time'] > 213]
    less_equal_213_df = df[df['drug_valid_time'] <= 213]
    
    # Step 2: For each filtered dataframe, drop duplicates by user_id and type_no_class
    greater_213_unique = greater_213_df.drop_duplicates(subset=['user_id', 'type_no_class'])
    less_equal_213_unique = less_equal_213_df.drop_duplicates(subset=['user_id', 'type_no_class'])
    
    # Step 3: Count the occurrences of type_no_class = 1 and type_no_class = 2 in both filtered sets
    greater_213_type_1 = (greater_213_unique['type_no_class'] == 1).sum()
    greater_213_type_2 = (greater_213_unique['type_no_class'] == 2).sum()
    
    less_equal_213_type_1 = (less_equal_213_unique['type_no_class'] == 1).sum()
    less_equal_213_type_2 = (less_equal_213_unique['type_no_class'] == 2).sum()
                
    
    # Return the counts for each condition
    print(greater_213_type_1, greater_213_type_2, less_equal_213_type_1, less_equal_213_type_2)
    
    user_ids_type_1 = set()
    user_ids_type_2 = set()
    
    # Step 1: Iterate through the rows and add user_id to respective sets based on type_no_class
    for _, row in df.iterrows():
        if row['type_no_class'] == 1:
            user_ids_type_1.add(row['user_id'])
        elif row['type_no_class'] == 2:
            user_ids_type_2.add(row['user_id'])
    
    # Step 2: Return the counts of unique user_ids for type_no_class=1 and type_no_class=2
    count_type_1 = len(user_ids_type_1)
    count_type_2 = len(user_ids_type_2)
    print(count_type_1,count_type_2)
count_drug_valid_time_type_no_class(df_valid1_count)

3913 14342 4371 14421
3337 12063 4092 13306
6164 20130

In [6]:
import scipy.stats as stats
def summarize_and_compare(dataframe, type_col='type_no_class'):
    dataframe=dataframe.copy()
    dataframe.loc[:, 'type_no_class'] = pd.to_numeric(dataframe['type_no_class'], errors='coerce')
    # 分组
    group1 = dataframe[dataframe[type_col] == 1]
    group2 = dataframe[dataframe[type_col] == 2]

    # 初始化结果存储
    results = {'Feature': [], 'Overall_Mean': [], 'Overall_Std': [],
               'Mean_Group1': [],  'Std_Group1': [],
               'Mean_Group2': [],'Std_Group2': [],
              'P_Value': [],'NonMissing_Group1': [], 'NonMissing_Group2': []}

    # 遍历除type_col以外的所有列
    for column in dataframe.columns:
        if column != type_col:
            mean1 = round(group1[column].mean(), 2)
            mean2 = round(group2[column].mean(), 2)
            std1 = round(group1[column].std(), 1)
            std2 = round(group2[column].std(), 1)

            # 计算两组之间的p值
            t_stat, p_val = stats.ttest_ind(group1[column], group2[column], nan_policy='omit')
            p_val = round(p_val, 3)
            # print(f'{column}: Group1 Mean: {mean1}, Group2 Mean: {mean2}, P-Value: {p_val}')
            # 计算非缺失值个数和比例
            non_missing_count1 = group1[column].notna().sum()
            non_missing_count2 = group2[column].notna().sum()
            total_count1 = len(group1)
            total_count2 = len(group2)
            proportion1 = round((non_missing_count1 / total_count1) * 100, 1)
            proportion2 = round((non_missing_count2 / total_count2) * 100, 1)
            # print(f'{column}: count1: {non_missing_count1}, count2: {non_missing_count2}, proportion1: {proportion1}%, proportion2: {proportion2}%')
            non_missing_info1 = f"{non_missing_count1}({proportion1}%)"
            non_missing_info2 = f"{non_missing_count2}({proportion2}%)"

            # 计算整体均值和标准差（不分组）
            overall_mean = round(dataframe[column].mean(), 2)
            overall_std = round(dataframe[column].std(), 1)

            # 存储结果
            results['Feature'].append(column)
            results['Mean_Group1'].append(mean1)
            results['Mean_Group2'].append(mean2)
            results['Std_Group1'].append(std1)
            results['Std_Group2'].append(std2)
            results['P_Value'].append(p_val)
            results['NonMissing_Group1'].append(non_missing_info1)
            results['NonMissing_Group2'].append(non_missing_info2)
            results['Overall_Mean'].append(overall_mean)
            results['Overall_Std'].append(overall_std)

        # 转换为DataFrame返回
    result_df = pd.DataFrame(results)
    #换算为百分比
  # 将前四行的均值列转换为百分比，并加上百分号
    for i in range(min(4, len(result_df))):
        result_df.at[i, 'Mean_Group1'] = f"{int(result_df.at[i, 'Mean_Group1'] * 100)}%"
        result_df.at[i, 'Mean_Group2'] = f"{int(result_df.at[i, 'Mean_Group2'] * 100)}%"
        result_df.at[i, 'Overall_Mean'] = f"{int(result_df.at[i, 'Overall_Mean'] * 100)}%"
    
    # 将倒数第三行的均值列先减去1后转换为百分比，并加上百分号
    if len(result_df) >= 3:
        index = len(result_df) - 3
        result_df.at[index, 'Mean_Group1'] = f"{int((result_df.at[index, 'Mean_Group1'] - 1) * 100)}%"
        result_df.at[index, 'Mean_Group2'] = f"{int((result_df.at[index, 'Mean_Group2'] - 1) * 100)}%"
        result_df.at[index, 'Overall_Mean'] = f"{int((result_df.at[index, 'Overall_Mean'] - 1) * 100)}%"

    return result_df

In [8]:
#增加对四种药之一的统计
df_valid2 = df_valid1.drop(['T0','T1','first_Hb_date','target_Hb_date','last_Hb_date','hosp_id_base','drug_valid_time'], axis=1)
def add_column_E(df1):
    # 检查 A, B, C, D 四列的值是否全为0
    df1['Oral_hypoglycemic'] = df1[['cumi_flag', 'jia_flag', 'tang_flag', 'TZD_flag']].apply(lambda row: 1 if (row != 0).any() else 0, axis=1)
    return df1
df_valid2=add_column_E(df_valid2)
df_valid2.head()

df_6_valid2 = df_6_valid1.drop(['T0','T1','first_Hb_date','target_Hb_date','last_Hb_date','hosp_id_base','drug_valid_time'], axis=1)
def add_column_E(df1):
    # 检查 A, B, C, D 四列的值是否全为0
    df1['Oral_hypoglycemic'] = df1[['cumi_flag', 'jia_flag', 'tang_flag', 'TZD_flag']].apply(lambda row: 1 if (row != 0).any() else 0, axis=1)
    return df1
df_6_valid2=add_column_E(df_6_valid2)
df_6_valid2.head()

df_12_valid2 = df_12_valid1.drop(['T0','T1','first_Hb_date','target_Hb_date','last_Hb_date','hosp_id_base','drug_valid_time'], axis=1)
def add_column_E(df1):
    # 检查 A, B, C, D 四列的值是否全为0
    df1['Oral_hypoglycemic'] = df1[['cumi_flag', 'jia_flag', 'tang_flag', 'TZD_flag']].apply(lambda row: 1 if (row != 0).any() else 0, axis=1)
    return df1
df_12_valid2=add_column_E(df_12_valid2)
df_12_valid2.head()

,user_id,type_no_class,cumi_flag,jia_flag,tang_flag,TZD_flag,age_base,diabetic_duration_base,dbp_base,bmi_v1_base,ALT_base,LDL_c_base,Cr_base,FPG_base,CP0_base,HbA1c_base,sex_base,eGFR_EPI_base,Oral_hypoglycemic
0,1046523.0,1.0,0,0,1,0,33,3.666667,79.0,33.7,27.0,4.04,61.0,9.50,NaN,7.2,2.0,114.38,1
1,1046523.0,1.0,0,1,1,0,33,3.666667,79.0,33.7,27.0,4.04,61.0,9.50,NaN,7.2,2.0,114.38,1
2,1046523.0,2.0,0,0,1,0,31,1.750000,82.0,33.9,37.0,4.03,59.0,NaN,NaN,7.3,2.0,117.28,1
3,1046523.0,2.0,0,0,1,0,31,1.750000,82.0,33.9,37.0,4.03,59.0,NaN,NaN,7.3,2.0,117.28,1
4,1064020.0,2.0,0,0,1,0,54,4.750000,76.0,27.5,14.0,4.30,80.0,7.98,NaN,7.2,1.0,95.87,1

In [9]:
#仅统计患者人数，不统计患者条数
df_valid2.drop_duplicates(subset=['user_id'],keep='first',inplace=True)
df_valid3 = df_valid2.drop(['user_id'], axis=1)

df_6_valid2.drop_duplicates(subset=['user_id'],keep='first',inplace=True)
df_6_valid3 = df_6_valid2.drop(['user_id'], axis=1)

df_12_valid2.drop_duplicates(subset=['user_id'],keep='first',inplace=True)
df_12_valid3 = df_12_valid2.drop(['user_id'], axis=1)

In [10]:
#1代表GLP，2代表SGLT
print(df_valid3['type_no_class'].value_counts())
print(df_6_valid3['type_no_class'].value_counts())
# df_valid3.to_csv(os.path.join(datapath, 'table1_data.csv'))
# result_valid=summarize_and_compare(df_valid3)
# result_valid.to_csv(os.path.join(datapath, 'result_valid.csv'))
df_6_valid3.to_csv(os.path.join(datapath, 'table1_6_data.csv'))
result_6_valid=summarize_and_compare(df_6_valid3)
result_6_valid.to_csv(os.path.join(datapath, 'result_6_valid.csv'))
result_6_valid

type_no_class
2.0    19783
1.0     6087
Name: count, dtype: int64
type_no_class
2.0    13115
1.0     4092
Name: count, dtype: int64

,Feature,Overall_Mean,Overall_Std,Mean_Group1,Std_Group1,Mean_Group2,Std_Group2,P_Value,NonMissing_Group1,NonMissing_Group2
0,cumi_flag,22%,0.4,15%,0.4,24%,0.4,0.000,4092(100.0%),13115(100.0%)
1,jia_flag,77%,0.4,73%,0.4,79%,0.4,0.000,4092(100.0%),13115(100.0%)
2,tang_flag,33%,0.5,28%,0.4,35%,0.5,0.000,4092(100.0%),13115(100.0%)
3,TZD_flag,12%,0.3,13%,0.3,11%,0.3,0.000,4092(100.0%),13115(100.0%)
4,age_base,53.32,11.7,50.06,12.5,54.34,11.2,0.000,4092(100.0%),13115(100.0%)
5,diabetic_duration_base,6.92,7.0,6.29,7.0,7.12,7.0,0.000,4066(99.4%),13018(99.3%)
6,dbp_base,79.64,11.1,80.97,11.2,79.22,11.0,0.000,4029(98.5%),12929(98.6%)
7,bmi_v1_base,26.81,4.1,28.62,4.0,26.24,4.0,0.000,4024(98.3%),12930(98.6%)
8,ALT_base,32.84,30.7,39.95,38.6,30.61,27.4,0.000,4072(99.5%),13036(99.4%)
9,LDL_c_base,2.96,1.0,2.94,1.0,2.96,1.0,0.207,4047(98.9%),12907(98.4%)
10,Cr_base,66.53,20.4,66.64,21.7,66.49,20.0,0.699,4092(100.0%),13115(100.0%)
11,FPG_base,9.61,3.6,9.35,3.4,9.7,3.7,0.000,4042(98.8%),13008(99.2%)
12,CP0_base,2.14,1.4,2.33,1.5,2.08,1.3,0.000,3689(90.2%),11683(89.1%)
13,HbA1c_base,9.64,2.0,9.67,2.0,9.63,2.0,0.183,4092(100.0%),13115(100.0%)
14,sex_base,37%,0.5,37%,0.5,37%,0.5,0.548,4092(100.0%),13114(100.0%)
15,eGFR_EPI_base,100.45,19.3,102.86,20.8,99.7,18.7,0.000,4092(100.0%),13113(100.0%)
16,Oral_hypoglycemic,0.88,0.3,0.83,0.4,0.9,0.3,0.000,4092(100.0%),13115(100.0%)

In [11]:
print(df_12_valid3['type_no_class'].value_counts())
# df_valid3.to_csv(os.path.join(datapath, 'table1_data.csv'))
# result_valid=summarize_and_compare(df_valid3)
# result_valid.to_csv(os.path.join(datapath, 'result_valid.csv'))
df_12_valid3.to_csv(os.path.join(datapath, 'table1_12_data.csv'))
result_12_valid=summarize_and_compare(df_12_valid3)
result_12_valid.to_csv(os.path.join(datapath, 'result_12_valid.csv'))
result_12_valid

type_no_class
2.0    11902
1.0     3337
Name: count, dtype: int64

,Feature,Overall_Mean,Overall_Std,Mean_Group1,Std_Group1,Mean_Group2,Std_Group2,P_Value,NonMissing_Group1,NonMissing_Group2
0,cumi_flag,25%,0.4,16%,0.4,27%,0.4,0.000,3337(100.0%),11902(100.0%)
1,jia_flag,79%,0.4,76%,0.4,81%,0.4,0.000,3337(100.0%),11902(100.0%)
2,tang_flag,35%,0.5,33%,0.5,35%,0.5,0.003,3337(100.0%),11902(100.0%)
3,TZD_flag,12%,0.3,12%,0.3,11%,0.3,0.329,3337(100.0%),11902(100.0%)
4,age_base,53.72,11.5,50.6,12.7,54.59,11.0,0.000,3337(100.0%),11902(100.0%)
5,diabetic_duration_base,7.65,7.1,7.28,7.3,7.75,7.1,0.001,3313(99.3%),11810(99.2%)
6,dbp_base,79.64,11.1,80.82,11.1,79.3,11.0,0.000,3284(98.4%),11726(98.5%)
7,bmi_v1_base,26.79,3.7,28.62,3.9,26.28,3.4,0.000,3282(98.4%),11725(98.5%)
8,ALT_base,31.99,28.4,38.13,35.3,30.27,25.9,0.000,3310(99.2%),11825(99.4%)
9,LDL_c_base,2.9,1.0,2.89,1.0,2.9,1.0,0.482,3296(98.8%),11676(98.1%)
10,Cr_base,66.54,20.6,66.33,22.2,66.6,20.2,0.515,3337(100.0%),11902(100.0%)
11,FPG_base,9.61,3.7,9.39,3.6,9.68,3.7,0.000,3297(98.8%),11794(99.1%)
12,CP0_base,2.15,1.4,2.34,1.5,2.1,1.3,0.000,2976(89.2%),10516(88.4%)
13,HbA1c_base,9.52,2.0,9.58,1.9,9.5,2.0,0.037,3337(100.0%),11902(100.0%)
14,sex_base,37%,0.5,36%,0.5,37%,0.5,0.488,3336(100.0%),11901(100.0%)
15,eGFR_EPI_base,100.18,19.3,102.91,21.0,99.41,18.7,0.000,3335(99.9%),11899(100.0%)
16,Oral_hypoglycemic,0.9,0.3,0.85,0.4,0.91,0.3,0.000,3337(100.0%),11902(100.0%)

In [ ]:
#统计模块结束，回归模块

In [14]:
#数据替换
df_xx_month_Hb_other=pd.read_csv(os.path.join(datapath, 'df_xx_month_Hb_other.csv'))
df1_merged=pd.read_csv(os.path.join(datapath, 'df1_merged.csv'))
df_xx_month_Hb_other_v1=get_v1(df1_merged,df_xx_month_Hb_other)

NameError: name 'df_final_clean' is not defined

In [15]:
df_final_clean=pd.read_csv(os.path.join(datapath, 'df_final_clean.csv'))
df_xx_month_Hb_other_updated = pd.merge(df_xx_month_Hb_other_v1, df_final_clean,on=['user_id', 'visit_level'],how='inner', suffixes=('', '_new'))
columns_to_impute = ['age_base', 'diabetic_duration_base', 'dbp_base',
       'bmi_v1_base', 'ALT_base', 'LDL_c_base', 'Cr_base', 'FPG_base','CP0_base', 'HbA1c_base']
# 更新 columns_to_impute 指定的列
for col in columns_to_impute:
    df_xx_month_Hb_other_updated[col] = df_xx_month_Hb_other_updated[col + '_new']
    df_xx_month_Hb_other_updated.drop(col + '_new', axis=1, inplace=True)
df_xx_month_Hb_other_updated.drop_duplicates( keep='first',inplace=True)
# df_xx_month_Hb_other_updated.to_csv(os.path.join(datapath, 'df_xx_month_Hb_final.csv'), index=False)
df_xx_month_Hb_other_updated=df_xx_month_Hb_other_updated[df_xx_month_Hb_other_updated['drug_regression_time'] >=90]
print(df_xx_month_Hb_other_updated.shape)

df_xx_month_Hb_other_updated.drop(df_xx_month_Hb_other_updated.columns[-1:], axis=1, inplace=True)

#去除与验证数据医院重复的患者
df_val_visit=pd.read_csv(os.path.join(datapath, 'df_val_visit.csv'))
hosp_id_set = set(df_val_visit['hosp_id'])
df_xx_month_Hb_other_updated_hosp_cleaned = df_xx_month_Hb_other_updated[~df_xx_month_Hb_other_updated['hosp_id_base'].isin(hosp_id_set)]
print(df_xx_month_Hb_other_updated_hosp_cleaned.shape)
print('user_id:',df_xx_month_Hb_other_updated_hosp_cleaned['user_id'].nunique())

#去除超过3次交替使用药物患者的非首次访视
df_xx_month_Hb_other_final=count_alternations(df_xx_month_Hb_other_updated_hosp_cleaned)
print(df_xx_month_Hb_other_final.shape,', user_id:',df_xx_month_Hb_other_final['user_id'].nunique())
df_xx_month_Hb_other_final.to_csv(os.path.join(datapath, 'df_xx_month_Hb_final.csv'), index=False)

(39840, 25)
(37263, 24)
user_id: 25870
[[1, 25447], [2, 423]]
(37210, 24) , user_id: 25870

In [16]:
#按用药时长拆分
df_xx_month_Hb_other_updated=pd.read_csv(os.path.join(datapath, 'df_xx_month_Hb_final.csv'))

# df_3_regression=df_xx_month_Hb_other_updated[df_xx_month_Hb_other_updated['drug_regression_time']<=123]
df_6_regression1=df_xx_month_Hb_other_updated[df_xx_month_Hb_other_updated['drug_regression_time']<=213] 
df_6_regression=df_6_regression1[df_6_regression1['drug_regression_time']<=213]
df_12_regression=df_xx_month_Hb_other_updated[df_xx_month_Hb_other_updated['drug_regression_time']>213]
# df_3_regression_fill=fillna_with_imp(df_3_regression)
df_6_regression_fill=fillna_with_imp(df_6_regression)
df_12_regression_fill=fillna_with_imp(df_12_regression)

# df_3_regression_fill=filter_max(df_3_regression_fill)
df_6_regression_fill=filter_max(df_6_regression_fill)
df_12_regression_fill=filter_max(df_12_regression_fill)

# df_3_regression_fill=fillna_with_imp(df_3_regression_fill)
df_6_regression_fill=fillna_with_imp(df_6_regression_fill)
df_12_regression_fill=fillna_with_imp(df_12_regression_fill)

# df_3_regression_fill.to_csv(os.path.join(datapath, 'df_3_regression.csv'), index=False)
df_6_regression_fill.to_csv(os.path.join(datapath, 'df_6_regression.csv'), index=False)
df_12_regression_fill.to_csv(os.path.join(datapath, 'df_12_regression.csv'), index=False)

# print(df_3_regression_fill['type_no_class'].value_counts())
print(df_6_regression_fill['type_no_class'].value_counts())
print(df_12_regression_fill['type_no_class'].value_counts())
df_6_regression_fill.iloc[:,-16:].describe()

Initial shape: (18958, 24)
bound of ALT: 7.0 150.21500000000015
Upper bound of CP0: 10.873010000000104
18957 17798 17796
Initial shape: (18252, 24)
bound of ALT: 7.0 148.0
Upper bound of CP0: 10.795231000000065
18252 17307 17307

C:\Users\shijuan_125623147720\AppData\Local\Temp\1\ipykernel_7096\1911119515.py:47: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[filter_criteria]
C:\Users\shijuan_125623147720\AppData\Local\Temp\1\ipykernel_7096\1911119515.py:47: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[filter_criteria]
C:\Users\shijuan_125623147720\AppData\Local\Temp\1\ipykernel_7096\1911119515.py:47: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[filter_criteria]

type_no_class
2.0    13656
1.0     4140
Name: count, dtype: int64
type_no_class
2.0    13590
1.0     3717
Name: count, dtype: int64

,drug_regression_time,cumi_flag,jia_flag,tang_flag,TZD_flag,age_base,diabetic_duration_base,dbp_base,bmi_v1_base,ALT_base,LDL_c_base,Cr_base,FPG_base,CP0_base,HbA1c_base,HbA1c_xx_month
count,17796.000000,17796.000000,17796.000000,17796.000000,17796.000000,17796.000000,17796.000000,17796.000000,17796.000000,17796.000000,17796.000000,17796.000000,17796.000000,17796.000000,17796.000000,17796.000000
mean,152.056811,0.231681,0.777197,0.338953,0.114520,53.457013,86.312962,79.638279,26.878608,31.639862,2.932887,66.885061,9.446124,2.199888,9.282787,7.398746
std,36.024603,0.421918,0.416139,0.473367,0.318451,11.605102,84.560173,11.070088,3.718891,22.299120,0.984877,20.408581,3.352771,1.316397,1.620802,1.442628
min,90.000000,0.000000,0.000000,0.000000,0.000000,19.000000,-177.063148,41.000000,14.200000,-33.766397,0.120000,13.000000,1.875789,-1.563136,7.000000,4.000000
25%,120.000000,0.000000,1.000000,0.000000,0.000000,46.000000,8.000000,72.000000,24.400000,17.000000,2.240000,53.000000,7.150000,1.270000,7.900000,6.400000
50%,156.000000,0.000000,1.000000,0.000000,0.000000,55.000000,66.000000,79.000000,26.500000,25.000000,2.890000,64.000000,8.790000,2.000965,9.000000,7.100000
75%,182.000000,0.000000,1.000000,1.000000,0.000000,62.000000,135.000000,87.000000,28.900000,38.000000,3.540000,76.200000,11.090000,2.870000,10.500000,8.100000
max,213.000000,1.000000,1.000000,1.000000,1.000000,87.000000,519.000000,159.000000,57.900000,150.000000,10.580000,210.500000,40.000000,10.870000,13.100000,19.000000

In [4]:
#统计
import pandas as pd
df_3_valid_fill=pd.read_csv(os.path.join(datapath, 'df_3_valid.csv'))
df_6_valid_fill=pd.read_csv(os.path.join(datapath, 'df_6_valid.csv'))
df_12_valid_fill=pd.read_csv(os.path.join(datapath, 'df_12_valid.csv'))
df_3_regression_fill=pd.read_csv(os.path.join(datapath, 'df_3_regression.csv'))
df_6_regression_fill=pd.read_csv(os.path.join(datapath, 'df_6_regression.csv'))
df_12_regression_fill=pd.read_csv(os.path.join(datapath, 'df_12_regression.csv'))
print(df_3_valid_fill['type_no_class'].value_counts())
print(df_6_valid_fill['type_no_class'].value_counts())
print(df_12_valid_fill['type_no_class'].value_counts())
print(df_3_regression_fill['type_no_class'].value_counts())
print(df_6_regression_fill['type_no_class'].value_counts())
print(df_12_regression_fill['type_no_class'].value_counts())
print(df_3_valid_fill.columns)
print(((df_3_valid_fill['bmi_v1_base']>=24) & (df_3_valid_fill['type_no_class']==1)).sum())
print(((df_3_valid_fill['bmi_v1_base']>=24) & (df_3_valid_fill['type_no_class']==2)).sum())
print(((df_6_valid_fill['bmi_v1_base']>=24) & (df_6_valid_fill['type_no_class']==1)).sum())
print(((df_6_valid_fill['bmi_v1_base']>=24) & (df_6_valid_fill['type_no_class']==2)).sum())
print(((df_12_valid_fill['bmi_v1_base']>=24) & (df_12_valid_fill['type_no_class']==1)).sum())
print(((df_12_valid_fill['bmi_v1_base']>=24) & (df_12_valid_fill['type_no_class']==2)).sum())

type_no_class
2.0    4099
1.0    1503
Name: count, dtype: int64
type_no_class
2.0    15487
1.0     4799
Name: count, dtype: int64
type_no_class
2.0    12004
1.0     3231
Name: count, dtype: int64
type_no_class
2.0    4245
1.0    1541
Name: count, dtype: int64
type_no_class
2.0    15487
1.0     4799
Name: count, dtype: int64
type_no_class
2.0    12004
1.0     3231
Name: count, dtype: int64
Index(['user_id', 'type_no_class', 'T0', 'T1', 'first_Hb_date',
       'target_Hb_date', 'last_Hb_date', 'hosp_id_base', 'drug_valid_time',
       'cumi_flag', 'jia_flag', 'tang_flag', 'TZD_flag', 'age_base',
       'diabetic_duration_base', 'dbp_base', 'bmi_v1_base', 'ALT_base',
       'LDL_c_base', 'Cr_base', 'FPG_base', 'CP0_base', 'HbA1c_base',
       'normal_Hb_flag'],
      dtype='object')
1376
3090
4382
11738
2980
9189

In [2]:
import pickle

def compute_and_save_folds(data, num_folds, save_path):
    # 计算每个hosp_id的数据量
    hosp_id_counts = data['hosp_id_base'].value_counts().sort_values(ascending=False)
    
    # 初始化分折存储结构
    folds = {i: [] for i in range(num_folds)}
    fold_sizes = [0] * num_folds
    
    # 动态分配hosp_id到folds
    for hosp_id, count in hosp_id_counts.items():
        min_fold_idx = fold_sizes.index(min(fold_sizes))
        folds[min_fold_idx].append(hosp_id)
        fold_sizes[min_fold_idx] += count
    fold_data_sizes = []
    total_data_count = data.shape[0]
    for i in range(num_folds):
        fold_hosp_ids = folds[i]
        fold_data = data[data['hosp_id_base'].isin(fold_hosp_ids)]
        fold_data_sizes.append(fold_data.shape[0])
    print(f"Fold data sizes: {fold_data_sizes}", f"Total data count: {total_data_count}")
    # 保存分配结果
    with open(save_path, 'wb') as f:
        pickle.dump(folds, f)
    
    return folds

In [3]:
def save_fold(df_valid,name,k=10):
    df_valid1=df_valid[df_valid['type_no_class'] ==1]
    df_valid2=df_valid[df_valid['type_no_class'] ==2]
    folds_valid=compute_and_save_folds(df_valid, k, os.path.join(datapath, 'ten_folds/all_')+str(name)+'.pkl')
    folds_valid1=compute_and_save_folds(df_valid1, k, os.path.join(datapath, 'ten_folds/GLP_')+str(name)+'.pkl')
    folds_valid2=compute_and_save_folds(df_valid2, k, os.path.join(datapath, 'ten_folds/SGLT_')+str(name)+'.pkl')
    print()

In [4]:
# df_3_valid=pd.read_csv(os.path.join(datapath, 'df_3_valid.csv'))
df_6_valid=pd.read_csv(os.path.join(datapath, 'df_6_valid.csv'))
df_12_valid=pd.read_csv(os.path.join(datapath, 'df_12_valid.csv'))
# df_3_regression=pd.read_csv(os.path.join(datapath, 'df_3_regression.csv'))
df_6_regression=pd.read_csv(os.path.join(datapath, 'df_6_regression.csv'))
df_12_regression=pd.read_csv(os.path.join(datapath, 'df_12_regression.csv'))
# save_fold(df_3_valid,'3_valid')
save_fold(df_6_valid,'6_valid')
save_fold(df_12_valid,'12_valid')
# save_fold(df_3_regression,'3_regression')
save_fold(df_6_regression,'6_regression')
save_fold(df_12_regression,'12_regression')

Fold data sizes: [1764, 1764, 1764, 1764, 1764, 1764, 1764, 1763, 1763, 1763] Total data count: 17637
Fold data sizes: [411, 411, 411, 411, 411, 411, 411, 411, 411, 411] Total data count: 4110
Fold data sizes: [1353, 1353, 1353, 1353, 1353, 1353, 1353, 1352, 1352, 1352] Total data count: 13527

Fold data sizes: [1731, 1731, 1731, 1731, 1731, 1731, 1731, 1731, 1731, 1731] Total data count: 17310
Fold data sizes: [372, 372, 372, 372, 372, 372, 372, 372, 372, 372] Total data count: 3720
Fold data sizes: [1359, 1359, 1359, 1359, 1359, 1359, 1359, 1359, 1359, 1359] Total data count: 13590

Fold data sizes: [1780, 1780, 1780, 1780, 1780, 1780, 1779, 1779, 1779, 1779] Total data count: 17796
Fold data sizes: [414, 414, 414, 414, 414, 414, 414, 414, 414, 414] Total data count: 4140
Fold data sizes: [1366, 1366, 1366, 1366, 1366, 1366, 1365, 1365, 1365, 1365] Total data count: 13656

Fold data sizes: [1731, 1731, 1731, 1731, 1731, 1731, 1731, 1730, 1730, 1730] Total data count: 17307
Fold data sizes: [372, 372, 372, 372, 372, 372, 372, 371, 371, 371] Total data count: 3717
Fold data sizes: [1359, 1359, 1359, 1359, 1359, 1359, 1359, 1359, 1359, 1359] Total data count: 13590

In [20]:
df_6_valid.head()

,user_id,type_no_class,T0,T1,first_Hb_date,target_Hb_date,last_Hb_date,hosp_id_base,drug_valid_time,cumi_flag,...,diabetic_duration_base,dbp_base,bmi_v1_base,ALT_base,LDL_c_base,Cr_base,FPG_base,CP0_base,HbA1c_base,normal_Hb_flag
0,10238.0,1.0,2020-01-10,2020-05-17,2019-10-24,2020-07-24,2020-07-24,20006.0,196,0,...,177.0,67.794512,29.540316,35.0,1.40,98.0,12.38,1.970000,7.1,0
1,902628.0,2.0,2018-12-24,2023-09-01,2018-12-17,2019-03-26,2022-08-23,20006.0,92,1,...,71.0,100.000000,27.600000,23.0,3.58,67.0,15.25,2.080000,9.8,1
2,902628.0,2.0,2018-12-24,2023-09-01,2018-12-17,2019-06-25,2022-08-23,20006.0,183,1,...,71.0,100.000000,27.600000,23.0,3.58,67.0,15.25,2.080000,9.8,1
3,985157.0,1.0,2019-05-11,2019-08-13,2019-05-07,2019-08-13,2019-08-13,20006.0,94,0,...,120.0,67.000000,34.300000,21.0,3.55,62.0,6.72,1.318246,8.0,0
4,985248.0,1.0,2016-10-31,2017-02-17,2016-10-31,2017-02-17,2017-02-17,20006.0,109,1,...,81.0,75.000000,30.300000,64.0,3.25,60.0,10.62,-0.132678,8.0,1

In [21]:
df_6_regression.head()

,user_id,type_no_class,T0,T1,first_Hb_date,target_Hb_date,last_Hb_date,hosp_id_base,drug_regression_time,cumi_flag,...,diabetic_duration_base,dbp_base,bmi_v1_base,ALT_base,LDL_c_base,Cr_base,FPG_base,CP0_base,HbA1c_base,HbA1c_xx_month
0,10238.0,1.0,2020-01-10,2020-05-17,2019-10-24,2020-07-24,2020-07-24,20006.0,196,0,...,177.0,82.830421,32.15269,35.0,1.40,98.0,12.38,1.970000,7.1,7.8
1,902628.0,2.0,2018-12-24,2023-09-01,2018-12-17,2019-03-26,2022-08-23,20006.0,92,1,...,71.0,100.000000,27.60000,23.0,3.58,67.0,15.25,2.080000,9.8,6.8
2,902628.0,2.0,2018-12-24,2023-09-01,2018-12-17,2019-06-25,2022-08-23,20006.0,183,1,...,71.0,100.000000,27.60000,23.0,3.58,67.0,15.25,2.080000,9.8,8.2
3,985157.0,1.0,2019-05-11,2019-08-13,2019-05-07,2019-08-13,2019-08-13,20006.0,94,0,...,120.0,67.000000,34.30000,21.0,3.55,62.0,6.72,5.221367,8.0,7.7
4,985248.0,1.0,2016-10-31,2017-02-17,2016-10-31,2017-02-17,2017-02-17,20006.0,109,1,...,81.0,75.000000,30.30000,64.0,3.25,60.0,10.62,2.230904,8.0,6.2

In [64]:
#缺失值统计
df_first_normal_other=pd.read_csv(os.path.join(datapath, 'df_first_normal_final.csv'))
print(df_first_normal_other.isnull().sum())
tmp=df_first_normal_other.iloc[:,-16:-1]
tmp.describe()

user_id                      0
type_no_class                0
T0                           0
T1                           0
first_Hb_date                0
target_Hb_date               0
last_Hb_date                 0
hosp_id_base                 0
drug_valid_time              0
cumi_flag                    0
jia_flag                     0
tang_flag                    0
TZD_flag                     0
age_base                     0
diabetic_duration_base     320
dbp_base                   972
bmi_v1_base                987
ALT_base                  1005
LDL_c_base                1280
Cr_base                   1001
FPG_base                   647
CP0_base                  5989
HbA1c_base                   0
normal_Hb_flag               0
visit_level                  0
dtype: int64

,cumi_flag,jia_flag,tang_flag,TZD_flag,age_base,diabetic_duration_base,dbp_base,bmi_v1_base,ALT_base,LDL_c_base,Cr_base,FPG_base,CP0_base,HbA1c_base,normal_Hb_flag
count,44622.000000,44622.000000,44622.000000,44622.000000,44622.000000,44302.000000,43650.000000,43635.000000,43617.000000,43342.000000,43621.000000,43975.000000,38633.000000,44622.000000,44622.00000
mean,0.246941,0.789879,0.357021,0.109587,53.473219,90.880434,79.469347,26.809989,32.607076,2.924764,67.521254,9.572463,2.165610,9.461786,0.44608
std,0.431237,0.407399,0.479127,0.312378,11.742197,86.731392,11.094507,3.935765,29.520832,1.004430,23.517485,3.623295,1.370438,1.960072,0.49709
min,0.000000,0.000000,0.000000,0.000000,19.000000,0.000000,7.000000,14.200000,0.000000,0.100000,10.900000,1.870000,0.000000,7.000000,0.00000
25%,0.000000,1.000000,0.000000,0.000000,46.000000,12.000000,72.000000,24.300000,17.000000,2.210000,53.000000,7.170000,1.231000,7.900000,0.00000
50%,0.000000,1.000000,0.000000,0.000000,55.000000,72.000000,79.000000,26.400000,24.000000,2.880000,64.000000,8.800000,1.920000,9.000000,0.00000
75%,0.000000,1.000000,1.000000,0.000000,62.000000,143.000000,86.000000,28.800000,37.500000,3.550000,76.700000,11.200000,2.763000,10.700000,1.00000
max,1.000000,1.000000,1.000000,1.000000,91.000000,551.000000,159.000000,257.400000,925.000000,11.260000,512.400000,87.100000,24.270000,20.000000,1.00000

In [9]:
tmp3=tmp2[['user_id','visit_level']]
print('user_id:',tmp3['user_id'].nunique())
tmp3.head()

user_id: 30487

    user_id  visit_level
0   10238.0          7.0
1  902628.0         10.0
2  902628.0         10.0
3  985088.0         29.0
4  985157.0         12.0

In [10]:
tmp3.to_csv(os.path.join(datapath, 'df_30487_user_id_visit_level.csv'), index=False)

In [11]:
tmp3=pd.read_csv(os.path.join(datapath, 'df_30487_user_id_visit_level.csv'))
tmp3['visit_level'].value_counts()

visit_level
1.0     32313
6.0      2255
4.0      1973
10.0     1535
8.0      1260
3.0       885
14.0      825
12.0      819
5.0       492
18.0      435
16.0      400
7.0       322
9.0       290
13.0      206
11.0      183
20.0      160
22.0      110
15.0      103
17.0       90
21.0       56
19.0       50
24.0       26
23.0       11
26.0       11
25.0        6
2.0         4
29.0        1
Name: count, dtype: int64